[2016-11-22 02:36] newville commented on #375
@Tillsten Thanks and great to hear from you.

It's completely possible that careful profiling analysis will show some place where performance can be improved.  I think we  (well, really @andyfaff) have looked fairly carefully, but maybe something has been missed. I would encourage @pico89 to look into this.

[2016-11-25 12:57] colgan opened #378 "result.message in minimizer.py"
Hi,
by using result.message I always got the message: 'Tolerance seems to be too small.', so I decided to have a look at it. The code snipped in your file which generates the variable result.message is:

        result.ier = ier
        result.lmdif_message = errmsg
        result.message = 'Fit succeeded.'
        result.success = ier in [1, 2, 3, 4]
        if result.aborted:
            result.

[2016-11-25 17:44] newville commented on #378
@colgan  Thanks -- you're right that the messages are not accurately reflecting the value of `ier` from MINPACK.  In fact "success" is not correct either.  It should be:

0.  improper input parameters (more variables than data points, tolerance < 0.0, or no data)
1.  fit successful
2.  fit successful
3.  fit successful
4.  one or more variable did not affect the fit
5.  too many iterations
6.  tol

[2016-11-28 14:59] colgan commented on #378
Done.
Kind regards
Colgan

[2016-12-01 18:14] gyger opened #382 "Inverse Step function (erfc)"
It would be nice if the build-in models also contain an inverse Step function (e.g. based on erfc(x) = 1- erf(x)).
Would this be an accepted Pull-request?

Cheers

[2016-12-01 21:58] newville commented on #382
@gyger  I think that would be fine.

[2016-12-12 02:43] newville opened #384 "values set in param_hints override values passed into Model.make_params()"
See
  https://mail.google.com/mail/u/0/#inbox/158efe1d5e28b004

Simple case exposing bug:

[code]

gives

[code]

`fraction` should be 0.75, not 0.5.

[2016-12-20 09:44] Lars26888 opened #385 "Issue with fitting procedure for newer versions of lmfit"
I have used lmfit to fit some of my experimental data and it worked out well for version 0.9.0. After updating to version 0.9.5, I get this error message:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Python27\lib\site-packages\spyderlib\widgets\externalshell\sitecustomize.py", line 685, in runfile
    execfile(filename, namespace)
  File "C:\Python27\lib\sit

[2016-12-20 13:10] newville commented on #385
@Lars26888 Yes, you are seeing the benefits of an important feature introduced in 0.9.4 to enforce a policy of what to do when NaNs are encountered in the objective function.

Previous versions would foolishly pass such NaNs along to the solver, which typically have no mechanism for gracefully handling NaNs.  This sometimes ended up with erroneous results, and little in the way of warning that the

[2016-12-23 18:59] #385 closed

[2017-01-06 13:48] newville commented on #384
resolved with #386

[2017-01-06 13:48] #384 closed

[2017-01-14 14:21] #373 closed

[2017-01-17 18:59] reneeotten opened #389 "set function of Parameter class inadvertently affects min/max settings"
I think there is an issue with the set function. Consider the following code: `par = lmfit.Parameter('a', value=10, min=0, max=20)` , which will give: `<Parameter 'a', 10, bounds=[0:20]>`

now suppose you want to change the value to 15 and do so by: `par.set(value=15)`
this will now give: `<Parameter 'a', 15, bounds=[-inf:inf]>`, instead of the expected output `<Parameter 'a', 15, bounds=[0:20]>`.

[2017-01-17 19:04] #378 closed

[2017-01-17 19:07] newville commented on #389
@reneeotten Thanks -- I think this should be solvable by comparing the passed-in values for `min` and `max to `None` before setting the values.

[2017-01-17 19:09] andyfaff commented on #389
I'm not a fan of adding the brute_step parameter to the Parameter class.
Such a step attribute doesn't really belong to that kind of object, whereas
e.g. a parameter value does.

Passing an array_like object, or dict, when calling the brute search is an
alternative. E.g. {"a": 10} would divide the range for the 'a' parameter
into 10. However that seems a little messy as well.

On 17 Jan 2017 7:59

[2017-01-17 19:20] newville commented on #389
@andyfaff  that seems like a comment for #383 in general, not this issue about `Parameter.set()`.
I thought the idea of each parameter having a `brute_step` attribute was kind of a nice way to do it, and avoid all these ugly dictionaries with required keys or ordered lists, etc.   That is, you sort of do want to say "parameter a should take 5 steps, parameter b should take 3 steps".

For this issu

[2017-01-17 23:06] reneeotten commented on #389
@newville thanks, that indeed almost fixes the issue! It still exists for the `expr`, when let's say you have an expression and decide to change for the bounds.

From the example in the manual:
[code]
and then doing `p['wid2'].set(min=0)` will reset the `expr` for `wid2` to `None`.

So I guess making one more change in the `set` function, in addition to the ones above, will fix all of these:
```se

[2017-01-18 03:29] newville commented on #389
@reneeotten  Again, good point -- I completely agree.  Everything in `set()' should be conditional.

[2017-01-26 19:04] #389 closed

[2017-02-19 19:00] newville opened #394 "Parameters.dumps()/loads() fails for out-of-order expressions"
Similar to #294 (see also https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/lmfit-py/6tCcTNe307I)

[code]

fails.

I believe that, like `__reduce__()`,  `dumps()` needs to save the unique symbols from the symbol table.  `dumps()` may be able to just call `__reduce__()`....

[2017-02-22 03:45] newville opened #397 "inspect.getargspec() fails with Python 3.6, should use inspect.getfullargspec(), I think."
`inspect.getargspec()` has been deprecated in Python 3 (though I feel obliged to say that I do not see any warnings when using `inspect.getargspec()` with Python 3.5.2),  and has been *removed* in 3.6.

The recommendation appears to be to use `inspect.getfullargspec()`, with a slightly different return value (improved for sure in Python3, but an incompatible change),  or`inspect.signature()`, whic

[2017-02-22 17:27] reneeotten commented on #397
I'd recommend against using `inspect.getfullargspec()` as this function was actually deprecated since version 3.5. So if we're going to fix it for real then one should probably spend some time in getting it to work with `inspect.signature()`. But I do agree that this shouln't be a blocker.

[2017-02-22 17:37] newville commented on #397
I think the 3.6 docs say getfullargspec() is not deprecated. But I could be wrong on that....

[2017-02-22 18:19] reneeotten commented on #397
I see, you are right - it indeed says that the decision to deprecate that function was reversed. I was probably reading the 3.5.2 docs...

[2017-02-22 18:21] newville commented on #397
Phew.  That Seems much easier to me.

[2017-02-22 18:43] reneeotten opened #398 "minimum required scipy version and testing against it"
The `requirements.txt` contains the minimum required versions of numpy/scipy:

[code]
on the other hand, the `__init__.py` will print `__main__:2: UserWarning: Support for Scipy 0.14 was dropped with lmfit 0.9.5` when the installed scipy version is lower than 0.15. To me that reads as if version 0.15 is actually the minimum required version, or...? Given the fact that scipy 0.15 is already more th

[2017-02-22 19:06] newville commented on #398
@reneerotten. OK, you've convinced me that having a hard requirement for scipy 0.15 (and so dropping our own version of diffev code) is appropriate for 0.9.6.  I think we should let @andyfaff make the final decision.
Also, I agree with the testing against specific versions (especially scipy for sure too.

[2017-02-22 22:26] andyfaff commented on #398
I'd welcome a transition to 0.15 for scipy. W.r.t to removing the diffev
code from lmfit, I'd prefer if that was done in a separate PR.

On 23 Feb 2017 6:06 am, "Matt Newville" <notifications@github.com> wrote:

@reneerotten. OK, you've convinced me that having a hard requirement for
scipy 0.15 (and so dropping our own version of diffev code) is appropriate
for 0.9.6. I think we should let @andyfa

[2017-02-22 22:55] newville commented on #398
@andyfaff Thanks.  I agree on a separate PR to require 0.15, removing the soon-to-be unneeded code.  Preferably with doc change.

Any volunteers?

[2017-02-23 00:49] reneeotten commented on #398
@newville @andyfaff I will give it a go and split it in two PRs: (i) bumping the scipy version to 0.15 and updating `.travis.yml` and (ii) removing the diffev code. What are your thoughts about a reasonable minimum numpy version, the current requirement (1.5) is also kind of pre-historic, or...?

[2017-02-24 23:48] reneeotten commented on #397
I just looked a bit at Python 3.6 and it turns out that `inspect.getargspec` is still present. In [this thread](https://bugs.python.org/issue25486#msg258007) it actually states that it's still in version 3.6 - despite what the docs say... Since all `lmfit` tests pass also for version 3.6, I'd suggest to leave this issue open for now and deal with it once the Python developers have decided what the

[2017-02-25 02:08] newville commented on #397
@reneeotten Wow, that is wild.  I mean, the whole deprecation of `inspect.getargspec` is pretty irritating and seems like deliberate breaking of backward compatibility just for the sake of proving that it can be done.   I'd like to believe that the Python devs were convinced to undo that decision, but I don't have a lot of trust in that.    That is, I suppose we're still better off migrating to `i

[2017-02-25 03:22] #394 closed

[2017-02-28 01:50] newville commented on #398
Fixed with merge of #399

[2017-02-28 01:50] #398 closed

[2017-02-28 01:52] newville opened #400 "using Parameter.set() does not update symboltable for dependent constraints"
From https://groups.google.com/forum/#!topic/lmfit-py/GsT3ENzvna4

[code]

[2017-02-28 03:10] reneeotten commented on #55
@newville this issue can be closed: it was added in commit https://github.com/lmfit/lmfit-py/commit/22b40fdc25bd19407f56e6488f42f56d80210236.

[2017-02-28 04:36] newville commented on #55
@reneeotten Thanks!

[2017-02-28 04:36] #55 closed

[2017-03-02 03:05] newville commented on #400
fixed with #401

[2017-03-02 03:05] #400 closed

[2017-03-02 17:34] newville opened #402 "0.9.6 release candidate schedule"
I have started a branch (https://github.com/lmfit/lmfit-py/tree/096_rc1_prep), primarily for doc changes and preparation for 0.9.6.rc1.   I'm hoping to merge this and tag 0.9.6rc1 in about a week.

For doc changes, I am trying to go through the whole doc to make sure autodoc and docstrings are used where possible.   Any suggestions on doc improvements would be greatly appreciated.

Also, this is a

[2017-03-02 19:03] reneeotten commented on #402
what do you think about removing the `differential_evolution` code from lmfit? We can certainly "just" remove that code distributed with lmfit and import from `scipy`, that will work as is. I think that it would be nice though to clean up the code a bit more, make a separate method (similar to `leastsq`, `least_squares` and `brute`) and not incorporate it into `scalar_minimize` - that at least was

[2017-03-02 20:57] newville commented on #402
@reneeotten I'm +1 on removing the only-needed-for-scipy-0.14 differential_evolution code.   I'll plan on doing that, unless @andyfaff would like to keep it it.

I think the argument for keeping 'differential_evolution' as one of the optional methods of 'scalar_minimize()' instead of it's own method is that these would have more code in common than different.  But that is definitely not the only c

[2017-03-03 05:24] andyfaff commented on #402
Take out the differential evolution file, we can rely on scipy now. Make
the necessary import at the top of minimizer.py. We can import it as
differential_evolution.
Kepp it as an optional method for scalar_minimize, it leads to
proliferation of Minimizer.methods otherwise, and they all have the same
setup and tear down code.

On 3 March 2017 at 07:57, Matt Newville <notifications@github.com> wrot

[2017-03-03 13:59] newville commented on #402
@andyfaff Thanks -- I agree on all points. I will remove local differential evolution code and its use from PR for rc1.

[2017-03-03 14:32] reneeotten commented on #402
@newville @andyfaff sounds good! In `minimizer.py` (lines 711-716) in part for the differential_evolution it suggest that one can call `scipy_minimize` directly for version above 0.14. I tried following the comments and remove the now presumably unnecessary code, but that gives an error when running the tests:

[code]
I haven't looked carefully at it yet (but can do so in the weekend); if indeed p

[2017-03-03 16:37] newville commented on #402
@reneeotten Hm, seems like we should remove that comment.
Removing `_differential_evolution.py` and its possible import in `minimizer.py` all the tests pass for me.  Will push that shortly to 096_rc1_prep branch to let Travis try it out.

[2017-03-06 02:07] #354 closed

[2017-03-06 02:07] #50 closed

[2017-03-15 11:56] newville commented on #402
@reneeotten  I would like to tag rc1 for 0.9.6 later this week.    I believe you said you were going to make some changes to the docs and possibly to `parameter.py` about the initial value of `user_data`.  Should we wait for those changes or move ahead with rc1 as it is?

[2017-03-16 12:15] reneeotten commented on #402
@newville Yes, I am making these changes but got a bit distracted with other things... I'd say go ahead with RC1 as my changes will anyway not introduce new features, but merely address some minor points. I would, however, suggest to incorporate the open PRs if that's the plan before the RC. I assume the idea is to have people test the new version and after some potential feedback release 0.96 in

[2017-03-16 13:31] newville commented on #402
@reneeotten  Thanks -- will do.

There are 2 open PRs.  Both more than 3 months old, and neither resolved.  My expectation was to tag 0.9.6rc1 without waiting for resolution of these.   It's a point release, we don't need to have everything perfect and solved, but there are enough improvements that we should release the changes made over the past several months.

[2017-04-04 11:56] #402 closed

[2017-04-04 12:02] newville opened #407 "Model.fit_report() does not display fit statistics"
`Model.fit_report()` reports the values for the parameters, but does not display the general statistics from the fit.

There is a simple fix:  https://github.com/lmfit/lmfit-py/blob/master/lmfit/model.py#L1148 should be changed from
[code]

to
[code]

but we should add a test for this too, so that there is no regression.

[2017-04-27 22:35] #397 closed

[2017-05-03 15:42] reneeotten commented on #407
this issue (introduced in 726ba171) was fixed by @newville in #408 and can be closed.

[2017-05-03 15:43] #407 closed

[2017-05-07 21:44] newville opened #413 "copy(Parameters) is broken"
OK, a simple copy of `Parameters` is broken:

[code]

[2017-05-11 11:06] #413 closed

[2017-05-16 00:53] reneeotten opened #416 "issue with least_squares method and parameter expression or fixed parameters"
opening an issue after starting the discussion on the [mailing list](https://groups.google.com/forum/#!topic/lmfit-py/eJH73ZARV-E).

There seems to be an issue when using the `least_squares` method and having parameters fixed or constrained with an expression. The calculation of `nvarys` and other fitting statistics (`redchi`, `aic` and `bic`) do not take into account whether or not a parameter is

[2017-05-16 02:30] newville commented on #416
@reneeotten   Thanks as always.  I think we were just kind of lax in adding support for `least_squares`.   I might suggest we actually have a conversation about what parts of `least_squares` should be supported, and how closely lmfit should follow `scipy.optimize` simply because they made a bunch of unpleasant API choices.

Honestly, I don't think that `least_squares` with `method='lm'` adds that

[2017-05-16 18:20] Tillsten commented on #416
Just two points
LM is also trust region algorithm, trf could be seen as the evolution of it (http://www.applied-mathematics.net/LMvsTR/LMvsTR.pdf). I think you are too hang about the interface of the function, i think it is quite ok, but as you point out it is not perfect. Pro point for 'least_squares', including 'lm' mode : It performs much better than 'leastsq' for my problems.  In fact, if i ha

[2017-05-16 18:48] newville commented on #416
@Tillsten   Thanks -- I agree that the complaints I expressed are slightly ranty, and that there is good code in `least_squares`.  But, I still get a headache every time I think about to wrap `least_squares` with all its permutations of interdependent options ;).  I also agree that LM is a trust-region method, just somewhat more conservative in it step size.

But, I believe that `least_squares(...

[2017-05-16 18:58] Tillsten commented on #416
@newville Oh, i was wrong, i misread the docstring and checked, all my tested problems used bounce, hence the trf version. Sorry for that confusion.

[2017-05-16 23:59] reneeotten commented on #416
@Tillsten thank you for your comments! I agree that `least_squares` could have some benefits and had no intentions of dismissing it as not useful. I was just trying out all different fitting algorithms supported by lmfit for my minimization problem and noticed that `least_squares` didn't converge to the same values.

After a bit of trial-and-error it _seems_ to me that this could be related to par

[2017-05-17 14:26] newville commented on #416
@reneeotten @Tillsten  I think the current `lmfit.minimizer.least_squares` just isn't preparing the fit correctly, including identifying the parameters that are really variables.    That shouldn't be too hard to fix.

But: I think that we should decide how much of `scipy.optimize.least_squares` to support in `lmfit`.  I think there's no need for it's `method='lm'`, but I'm not 100% sure of that...

[2017-05-31 19:22] newville commented on #416
@reneeotten  The issue of incorrectly counting the number of actual variables is fixed with 0.9.7rc2.  To try to address the other issue of fits not converging well when using constraints,  I changed `least_squares()` to better create the array of true variables and their bounds.  These now do not count fixed or constrained parameters as variables, but still update constraints for the call to the

[2017-06-01 02:31] reneeotten commented on #416
@newville that looks great!! My previously failing examples work perfectly now and converge to the same values as when using the `leastsq` (or any other) method.

The number of function evaluations indeed seems a bit low, but that perhaps has to do with the fact the for `least_squares` it only counts the times `__residual` is called, while for the other methods it seems to me it also includes the

[2017-06-01 11:53] newville commented on #416
@reneeotten Great!  Let's call the current `least_squares` in lmfit "not broken" and be satisfied with that for the time being (and 0.9.7).

I believe the other issues are really upstream issues for `scipy.optimize.least_squares` anyway.

[2017-06-03 13:11] #416 closed

[2017-06-03 13:12] newville commented on #283
I think that the `brute` method addresses this.

[2017-06-03 13:12] #283 closed

[2017-07-24 06:28] z-gong opened #421 "expr or vary for parameter produce error"
lmfit version: 0.9.7
scipy version: 0.19.1
numpy version: 1.12.1

when i set _expr_ or _vary=False_ for several parameters, it produces the following error

    result = minimize.leastsq(Dfun=jacobian, ftol=0.005)
  File "/share/apps/miniconda3/lib/python3.6/site-packages/lmfit/minimizer.py", line 1302, in leastsq
    lsout = scipy_leastsq(self.__residual, vars, **lskws)
  File "/share/apps/minico

[2017-07-24 07:35] ButcherAC commented on #369
Hello, not sure this is related, but a call of
Parameters['c'].set(max = out_exp.params['c'].value)
to limit the maximum value of a fit from a previous fit eliminates the reporting of errors. Fit results with the line above:
[[Variables]]
    a:   0.12080440 +/- 0        (0.00%) (init= 0.09026197)
    b:   0.00099233 +/- 0        (0.00%) (init= 0.0008019634)
    c:  -1.5963e-07 +/- 0        (0.00%

[2017-07-24 07:47] ButcherAC commented on #369
Just an update here, it seems that setting only the maximum produces this error, setting both min and max solves the problem.

[2017-07-24 11:24] newville commented on #369
@ButcherAC Why are you commenting on this closed issue?  Is this related to the Issue of uncertainties not being calculated when using `method='least_squares'`?

If you are not sure if it is related, you should use the mailing list.

[2017-07-24 11:24] #369 closed

[2017-07-24 11:32] newville commented on #421
@z-gong  Please re-read the guidelines for submitting an issue, use mailing list for questions, and provide a minimal working example that shows the problem you are having.

[2017-07-24 13:29] newville commented on #421
Violates multiple points in the guidelines for using Github Issues.

[2017-07-24 13:29] #421 closed

[2017-08-23 07:06] imoric commented on #375
Would it be possible to implement some kind of multithread possibility inside lmfit to increase speed? Would like to use it in particle physics, but at this moment the performance is not there.

[2017-08-23 18:44] newville commented on #375
@imoric I think we'd all be very happy to see a speed-up.  But, I sort of doubt that multi-threading would actually help. It is more likely that multi-processing could help for some problems, but I'm afraid I've never seen a real case where it helps.

I would happily be proven wrong on this, but I believe that for any "real" long-runnig problem (that is, not a toy fit that runs in under a few seco

[2017-08-29 18:57] timsainb opened #422 "'ModelResult' object has no attribute 'eval_confidence_band'"
The function eval_confidence_band does not appear to be in the code, although it is referenced in the documentation:

`dely = out.eval_confidence_band(x=x)`

[2017-08-30 00:42] newville commented on #422
@timsainb Good catch.  The doc should be updated to be `dely = out.eval_uncertainty(x=x)`

[2017-08-30 01:46] newville commented on #422
fixed in 8cad3ee5e31a7e953a2470a04cafaab0fb6f5b0c

[2017-08-30 01:46] #422 closed

[2017-09-15 15:24] newville opened #423 "Inconsistencies with Minimizer "nan_policy" and Model "missing""
There is an inconsistency between Model and Minimizer in setting a policy for NaNs.  When creating a Model, you can specify "missing", but the usage is not consistent with "nan_policy".  Furthermore, you cannot easily set the policy when doing a fit, only when setting up a Model.

I think Model "missing" should be deprecated (suggestions for how to do that effectively most welcome!)  and "nan_poli

[2017-09-27 01:35] #423 closed

[2017-10-14 12:58] sjlimmer opened #425 "PsuedoVoigt model parameter 'fraction'"
Occasionally when I fit peaks with a PseudoVoigt model the returned value for the parameter 'fraction' is outside the range 0-1. If I'm understanding correctly, this value controls the relative weight of the Gaussian and Lorentzian components. So it should be 0 ≤ fraction ≤ 1 as per https://en.wikipedia.org/wiki/Voigt_profile#Pseudo-Voigt_approximation.

I can impose the bounds on 'fraction' with

[2017-10-14 19:57] newville commented on #425
@sjlimmer thanks, and I agree this should be fixed.  Please let me know if you'd like to make a PR. We're always eager to have contributions from newcomers,  and I think this would be an easy one to do.

[2017-10-17 13:08] newville opened #426 "ModelResult.plot() functions should be able to turn off showing initial fit"
ModelResult.plot*() functions should have an option to turn off displaying the initial fit.

See discussion at
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/lmfit-py/ZG4prIG-th4/Xhv5iiOQAwAJ

[2017-10-21 16:13] sjlimmer commented on #425
@newville Sure, I'd be willing to give it a shot.

[2017-10-24 20:46] jmborr opened #432 "Minor correction to the docs"
In [model.rst](https://github.com/lmfit/lmfit-py/blob/master/doc/model.rst)

Line 136
```>>> result = gmod.fit(y, params)```
should be
```>>> result = gmod.fit(y, x=x, params)```

Similarly, line 140
```>>> result = gmod.fit(y, cen=6.5, amp=100, wid=2.0)```
should be
```>>> result = gmod.fit(y, x=x, cen=6.5, amp=100, wid=2.0)```

Line 309
```>>> for pname, par in decay_model.params.items():```
exc

[2017-10-27 02:12] newville opened #437 "tests should test the examples."
see work done at #431.  We should come up with a way to include the examples in the unit testing.

[2017-10-27 02:14] newville commented on #432
@jmborr thanks -- I agree.  If you willing to make a PR, that would be great. Otherwise, let us know and someone will do this....

[2017-10-27 14:47] jmborr commented on #432
OK, I'll start with the PR

[2017-11-01 11:51] newville opened #440 "include AMPGO and/or basinhopping"
Lmfit should include wrappings of global optimizers other than `differential_evolution`.  Scipy.optimize includes basinhopping, making it a obvious candidate.  As shown at http://infinity77.net/global_optimization/, the AMPGO algorithm is generally better than either basinhopping or differential evolution (and does not *require* bounds on parameters).   A copy of the python implementation for AMPG

[2017-11-02 02:40] reneeotten commented on #432
@newville this issue can be closed ; it was merged in #438

[2017-11-02 03:21] #432 closed

[2017-11-02 16:13] reneeotten commented on #437
not really on topic, regarding the automatic testing of the examples... but still related to examples ;)

I was fixing some of the examples that currently don't work and while that's rather easy, I think the examples in general would benefit from some additional work. I think converting most of them to Jupyter notebooks would be more useful as this can more easily include descriptions, figures, an

[2017-11-02 22:01] newville commented on #437
@reneeotten I have to admit that I'm not a regular Jupyter user myself,  but I agree with the sentiment of trying to better organize and perhaps "showcase" more worked examples.  And Jupyter notebooks are a good way to do that, mixing example and some text for telling a short story (say, fit data with a model, then look more carefully at confidence intervals, etc).

At the moment, several of the p

[2017-11-02 22:36] reneeotten commented on #437
@newville we totally agree on leaving some of the examples as plain Python code to include literally in the documentation. I've never actually tried to incorporate Jupyter notebooks into Sphinx documentation, but also would rather not attempt that...

As far as I can tell, you can certainly just incorporate the current examples pretty much "as-is" into a notebook and just add some text, have the f

[2017-11-02 23:03] andyfaff commented on #437
Some test regimes (I'm thinking of scipy here) run the examples in the
docstrings during one of the CI tests. That makes sure that the docstrings
always work.

w.r.t the Jupyter notebook examples, they can become out of date if people
aren't running them regularly and there are changes to the codebase - but
I'm not sure you'd want to execute them all during a CI run.

Regular changes to notebooks

[2017-11-06 10:56] asteppke opened #441 "Issue with numpy and lmfit?"
Hello,

In the process of getting to know the lmfit package I started with one of the examples from the documentation ([parameters](https://lmfit.github.io/lmfit-py/parameters.html)) as follows:

[code]

This leads unfortunately to an Attribute Error:

    ---------------------------------------------------------------------------
    AttributeError                            Traceback (most recen

[2017-11-06 11:26] newville commented on #441
@asteppke This works with the latest version (0.9.7) which almost certainly corresponds to the doc you were reading.

Please use the mailing list for questions and reserve Github Issues for actual Issues.

[2017-11-06 11:26] #441 closed

[2017-11-06 13:03] asteppke commented on #441
Thank you for the information. I can confirm that after updating lmfit to 0.9.7 the error does not occur anymore.

[2017-11-10 02:31] reneeotten commented on #437
these are all good points Andrew, thanks!

Testing examples in docstrings is not really going to help here as there are only about 10 or so of these present and most of them are pseudo-code. I have tried to update the examples and did add one new Jupyter notebook in #442 - storing them as unexecuted cells is indeed good advice.

[2017-11-10 03:20] reneeotten commented on #426
I think the easiest way to do this is to use the `initfmt` parameter and pass `None` if you don't want to show the initial plot. That would only require the addition of ```if initfmt:``` before the ```ax.plot()``` statement in the ```plot_fit``` function (and some updates to docstring/documentation).  I can do that - what do you think?

[2017-11-10 22:29] newville commented on #426
@reneeotten that could be OK, but maybe a "with_init=True/False" would be clearer / simpler.  Not a strong preference on that.  I think that showing the initial function is probably better off by default -- it's often distracting.

[2017-11-13 20:06] newville commented on #437
@reneeotten  with #442 and #444 merged, is this Issue OK to closed?  I think it covers just about everything discussed here.

[2017-11-14 01:10] reneeotten commented on #437
@newville closing this issue is fine with me. Perhaps whenever the next release is announced on the mailinglist we can add that if people want to showcase their use of lmfit in real-life, they're invited to submit an example Jupyter notebook.

[2017-11-21 03:10] #425 closed

[2017-11-21 03:10] #426 closed

[2017-11-30 02:16] reneeotten commented on #437
@newville I think this issue can be closed... right?

[2017-11-30 02:24] reneeotten commented on #169
@newville is there still interest in this? I am willing to give it a try if there is.

I was recently looking at this topic and saw that there is (again) some talk that this might be added to ```scipy```, but I have no idea what their timeframe is. The ```numdifftools``` package seems useful but would add another dependency; I noticed however that @andyfaff incorporated some code from ```numdiffto

[2017-11-30 03:17] newville commented on #437
@reneeotten Yep, will close.

[2017-11-30 03:17] #437 closed

[2017-11-30 03:34] newville commented on #169
@reneeotten I do think it is still interesting.  Perhaps `numdifftools` (I think maybe statsmodel has this too?) could work to get gradients for objective functions that return scalars.  I have not looked into this enough to know whether adding a dependency or swiping code is better...  Anyway, yes it could be very useful!

[2017-11-30 03:42] andyfaff commented on #169
I've used code from scipy, `approx_hess2`, to estimate the Hessian. You
could vendor that with the appropriate recognition.
However, I sometimes have problems with parameters that aren't of similar
scale, so would appreciate it if you got further than I have.

On 30 November 2017 at 14:34, Matt Newville <notifications@github.com>
wrote:

--
_____________________________________
Dr. Andrew Nelson

[2017-12-11 09:32] astromancer opened #450 "Module initialization very slow"
I'm consistently experiencing very slow initialization times for lmfit which is slowing down my application.

`%time import lmfit`
CPU times: user 17.9 s, sys: 1.04 s, total: 18.9 s
Wall time: 18.5 s

Nearly 20s to import the library seems unreasonable.  Is there any way to speed this up?

[2017-12-11 14:03] newville commented on #450
@astromancer please indicate which version of lmfit, python, OS, etc.

I agree that 20 sec is too long, but it might not be exactly our fault ;).  Lmfit is actually a pretty small package, but it does import several other packages, some optionally.  You might try something like this to check import times::

[code]

With this, I currently get:

[code]

Timing with `time.time` can be inaccurate, so

[2017-12-19 16:23] astromancer commented on #450
@newville Thanks for the timing code. I "typically" get:
[code]
 I'll have a go at profiling the code to see what is taking all that time.

[2017-12-19 19:20] newville commented on #450
@astromancer  Yeah, that seems way too slow.   But I can't reproduce it.  On a Linux host with Anaconda Python 3.6.3 or 3.5.4 environments, I get total import times of 0.6 seconds or less.   FWIW, import times are comparable (slightly faster, actually) with Python 2.7.

I might suggest trying separate imports of `emcee`, but for me that seems to be very fast...  I don't know what is left!

[2017-12-20 08:08] astromancer commented on #450
@newville OK, I've been playing around with python's builtin profiler and managed to track down the long running calls with this:
[code]

The results are here: [lmfit-import-profile.txt](https://github.com/lmfit/lmfit-py/files/1574608/lmfit-import-profile.txt).  It seems like the culprit is `matplotlib.afm` which creates a font list each time the library is imported.  That lead me to [this](https:

[2017-12-20 13:14] newville commented on #450
@astromancer Wow.  To be clear, was the solution simply deleting files in `.matplotlib` or was there something in `.cache/matplotlib`.   Maybe raise that as a matplotlib issue?

Anyway, glad it is working better now!

[2017-12-20 14:58] astromancer commented on #450
I deleted everything in `~/.cache/matplotlib`. After that the first import was still slow as the font cache was being built with the new matplotlib version. Thereafter subsequent imports where quick.  :+1: :smiley:

[2017-12-27 04:22] #450 closed

[2018-02-08 09:46] jancura opened #453 "The height parameter is not always correctly calculated for built-in models"
I use several simple combined models as follows, e.g.:
`model1 = ConstantModel() + GaussianModel()`
`model2 = ConstantModel() + LorentzianModel()`
`model3 = ConstantModel() + VoigtModel()`

All of those models have different formula for their peak (height). However, when I print the report_fit() then I see the following results reported:

- model1:
`fwhm:        13.2094965 +/- 0.130300 (0.99%)  ==

[2018-02-08 12:38] newville commented on #453
@jancura Did you read and understand https://github.com/lmfit/lmfit-py/blob/master/.github/ISSUE_TEMPLATE.md?  Why did you not post this to the google group?

Wrong.  Look again, the formulas are different.

They look like they match to me, except for the `VoigtModel`, where you forgot to pas the `gamma` parameter.

Of course not.  The height of the peak models does not include contributions from

[2018-02-08 12:38] #453 closed

[2018-02-08 15:02] reneeotten commented on #453
@jancura I agree with @newville  that this would have been a better question to start on the mailinglist. However, I would like to add that the equation for the height of the ``VoigtModel`` in the presented example is indeed incorrect (Gaussian/Lorentzian heights are correct). There have been several updates to the calculation of FWHM and height for built-in models by @openafox recently, which are

[2018-02-08 15:39] newville commented on #453
@reneeotten @jancura  Thanks Renee.  I did assume that someone posting an Issue would be using the github master branch and would have searched for similar Issues and found #448....

[2018-03-12 23:34] abonawas opened #457 "Residual plot is inverted"
Example:
[code]

I checked the Model class, the method plot_residuals should return:
`ax.plot(x_array, self.data - self.eval() , datafmt,
                    label='residuals', **data_kws)`
Instead of:
`ax.plot(x_array, self.data - self.eval() , datafmt,
                    label='residuals', **data_kws)`

Thank you,
Abonawas.

[2018-03-12 23:46] newville commented on #457
@abonawas We absolutely assert that you have read and understood Contributing.md before raising an Issue.  And yet you still decided (deliberately and incorrectly) to raise an Issue instead of asking a question.  In fact, the `plot_residuals()` method does

   ax.plot(x_array, self.eval() - self.data, datafmt,  label='residuals', **data_kws)

so your Issue is Just Plain Wrong.

Are you trying to a

[2018-03-12 23:46] #457 closed

[2018-03-13 00:11] abonawas commented on #457
Yes, that is what I'm asserting. And I did not ignore the read.me, I provided an example which shows clearly that the residuals on the standard plot method are inverted.
Residuals are defined as observed data - fit, not the other way around.

[2018-03-13 00:46] newville commented on #457
No, really the issue is closed.  As you were clearly instructed, begin with a discussion on the mailing list.  Any sympathy I may have had for your view is completely lost by your inability to follow clear instructions.

[2018-03-16 12:17] mbakker7 opened #458 "fit report problem for small numbers"
In the code below, the optimal value of parameter `a` is `9.999967403714958e-05`, but it shows up in fit_report as `9.99996740 +/- 7.75e-11`.

[code]
The code above produces the following output:
[code]

[2018-03-16 15:07] mbakker7 commented on #458
Sorry, I thought this would be obvious in the code. Indeed took me a little time to get a stand-alone example together. I hope it is easy to fix. I use version 0.9.8. Thanks for your help.

[2018-03-16 15:36] reneeotten commented on #458
thanks, that indeed reproduces it! I tried something this morning quickly, but didn't have enough decimal points to notice the issue... It's caused by the ```fit_report``` function, we seem to use a fixed-with to print the table. If you change the number of decimal points, the ```e-05``` does show up. I'll take a look and try to fix it later today!

[2018-03-16 17:20] newville commented on #458
@mbakker7 @reneeotten  Yikes - that definitely needs a quick fix.   I see this:

[code]
but I'm not 100% sure I see how that happens... I'll investigate, hoping to fix soon.

[2018-03-16 20:08] newville commented on #458
@mbakker7 @reneeotten  See #459  With that change, I cannot produce any errors.

I'm inclined to merge and tag this (and other recent changes) as version 0.9.9.

[2018-03-16 20:28] reneeotten commented on #458
it does mess up the layout a little bit when there are both exponents and floating points...
[code]
that's not a major issue, but still... if you're in a hurry you can tag now.

I do think though the ```fit_report``` and ```gformat``` functions can be simplified. I looked a little bit, but have not finished... If you're willing to wait until after the weekend then I'll give it a go. Either way, I'

[2018-03-16 21:20] newville commented on #458
@reneeotten you're right -- that should be cleaned up so that length and alignment are better preserved.  `gformat` can almost certainly be improved even more.

I agree that the new requirement for external `asteval` needs documentation, and may cause some pain for people mixing installs with `setup.py install` and `pip`.   I'd like to get 0.9.9 released next week (even early next week), since the

[2018-03-17 17:55] reneeotten commented on #458
@newville there are some more issues with the ```gformat``` function in the sense that it adds ```0``` to get the same output length for all variables. However, that's not correct as can be seen in the example below:

[code]

the parameters from the fit are:
[code]

so extending, for example, ```amp``` to give the same output length should become ```5.05590771``` and not ```5.05591000```.

I think

[2018-03-17 20:53] newville commented on #458
@reneeotten I just pushed a new attempt that fixes some problems, and I think ought to fix this too.

[2018-03-20 15:54] reneeotten commented on #458
fixed by #459

[2018-03-20 15:57] newville commented on #458
@reneeotten thanks, closing this issue

[2018-03-20 15:57] #458 closed

[2018-03-20 16:35] ezwelty opened #463 "Merely importing lmfit breaks parallel code elsewhere"
Merely importing lmfit (0.9.8) with `import lmfit` breaks the use of parallel code on my system (Mac OSX 10.11.6, Python 2.7.13 / 3.5.0). I've tested this with both `multiprocessing` and `sharedmem` (see minimal scripts below).

The issue seems to arise specifically for functions that evoke multithreading within their respective package (e.g. `numpy.matmul()`, `cv2.SIFT.detectAndCompute()`). If I

[2018-03-20 17:25] newville commented on #463
@ezwelty Hm, that is weird.  I'm not sure what is causing that.   I'm not familiar with `sharedmem`, but the `multiprocessing` script works for me on a couple different systems, including MacOS with Python 2.7 and 3.6 (both from anaconda).

For sure, `lmfit` imports a lot of other packages besides numpy, including much of scipy. Some of these imports might be avoidable (say, `pandas`) but others (

[2018-03-20 18:56] ezwelty commented on #463
@newville Weird indeed.

I copied over *all* the external import statements from the lmfit source code, and the culprit was a surprise:

[code]

Swimming further upstream, deep within `matplotlib`, brings up this line from [matplotlib.backends.tkagg](https://github.com/matplotlib/matplotlib/blob/master/lib/matplotlib/backends/tkagg.py):

[code]

I'll check with the core Python team. Sorry for the

[2018-03-20 19:01] newville commented on #463
@ezwelty Wow, that is sort of surprising.  Is that with Apple's system python or some other version?

[2018-03-20 19:22] ezwelty commented on #463
@newville Now tested on Python versions 2.7.13, 2.7.14, 3.5.0, and 3.6.4. All were installed with pyenv (https://github.com/pyenv/pyenv). `import _tkinter` is the end of the line in Python, so it looks like an issue with the connection between Python and Tcl/Tk?

Posted at https://bugs.python.org/issue33111

[2018-03-20 19:32] newville commented on #463
@ezwelty Sorry, I'm still not sure which Python you are using.  Apple, Anaconda, Homebrew, Macports?  They probably all make different assumptions about Tcl/Tk.

[2018-03-20 19:52] ezwelty commented on #463
@newville I am using Python built directly from the source (with the mighty help from pyenv's python-build: https://github.com/pyenv/pyenv/tree/master/plugins/python-build). For example, for version 3.6.4: https://www.python.org/ftp/python/3.6.4/

[2018-03-20 20:05] newville commented on #463
@ezwelty Uh, OK.  Maybe you're not quite understanding the point I'm trying to make.  You are seeing problems with Python's import of `_tkinter`, so  how was that Python and that Tk extension built?
`pyenv` is for managing Python environments; it does not require building Python from source yourself.

You built your own version of Python.  OK, how did you build the `_tkinter` extension? Sorry, but

[2018-03-20 20:05] #463 closed

[2018-03-28 11:39] greyltc opened #464 "passing keyword parameters from .fit() the underlying scipy minimizer is broken"
I've set up my model (`cellModel`) and parameters (`cellParams`) with guesses (with no bounds) properly.
Fitting works fine with the default method by doing this:
[code]
Now I'd like to compare my above fit result to that produced by using the Nelder-Mead method with its `xatol=4e-4` ([see Nelder-Mead scipy doc](https://docs.scipy.org/doc/scipy/reference/optimize.minimize-neldermead.html))

So I d

[2018-03-28 12:01] reneeotten commented on #464
hi Grey,

these tolerance keywords are unfortunately not very consistent between the different optimizers… However, if you look at the optimize.minimize documentation (https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.minimize.html#scipy.optimize.minimize) you’ll see that the argument there is called “tol”, and that is what you want to use here as well.

Within the scipy.optimize

[2018-03-28 12:51] greyltc commented on #464
Ah ha! Thanks @reneeotten, you've enlightened me!

To pass keyword parameters down from .fit() to the underlying scipy minimize method, one must go through `scipy.minimize`'s `options` key word argument like this:

[code]
Tricky!
Closing.

[2018-03-28 12:51] #464 closed

[2018-03-29 03:21] newville commented on #464
@reneeotten  thanks for answering this. I would have closed this without a response.

@greyltc in the future, please read and respect the instructions for how to get help.

[2018-04-18 17:58] parfa30 opened #469 "Not able to run minimize() or Model.fit() in multiprocessing"
I have tried to run Model.fit() and minimize(residual_function) within a function that I am using with multiprocessing.pool. All other Model functions seem to have no problem (i.e. Model.eval()) but the code seems to ignore the fit function completely, meaning there is no failure, error message, etc.

From reading another comment here it sounds like this should have something to do with pickling o

[2018-04-18 18:29] newville commented on #469
@parfa30  You must have read https://github.com/lmfit/lmfit-py/blob/master/.github/ISSUE_TEMPLATE.md and https://github.com/lmfit/lmfit-py/blob/master/.github/CONTRIBUTING.md in order to raise this as a Github Issue.   And yet you chose to ignore the instructions there to post questions to the mailing list and posted your question as an Issue here.  You include no code and show no messages from ru

[2018-04-18 18:29] #469 closed

[2018-04-22 14:18] rayosborn opened #470 "RuntimeError when importing on Mac OS X"
I am running Python 3.6.3 using a conda installation on Mac OS X v0.12.6. Importing lmfit v0.9.9 raises a RuntimeError when initializing the Matplotlib macosx backend. Although I could rerun python as `pythonw` to fix the error, I am not interested in using the plotting built into lmfit. The same issue forces me to bury lmfit imports within the runtime code in NeXpy (http://nexpy.github.io/nexpy/)

[2018-04-22 15:51] newville commented on #470
@rayosborn  Sorry for the trouble, and I'm sort of surprised I haven't seen this error myself. I struggle with the framework problem with anaconda python on Macs all the time with wxPython apps.

But for sure, lmfit should not require matplotlib or even a working matplotlib.   Right now we're doing in `model.py`:

[code]
which is missing the `RuntimeError` that matplotlib is raising.

I think we s

[2018-04-22 15:58] rayosborn commented on #470
Thanks for the quick response. I was surprised the issue hadn't been reported already and initially assumed it was something to do with the way I initialize the backend. However, I then noticed it occurs in a regular Python shell.

[2018-04-26 17:30] reneeotten commented on #470
just adding the ```RuntimeError``` here should be sufficient as I don't really see another way it could fail... In my opinion that would be better than a bare except, but in this specific case it might be okay to do so.

[2018-04-26 19:37] newville commented on #470
@reneeotten I think perhaps `except StandardError` is what we want. That includes almost everything except KeyboardInterrupt, the iteration sentinels,  and SystemExit.

[2018-04-26 21:58] reneeotten commented on #470
not a bad idea and that would work for Python 2 - however, the ```StandardError``` class is removed in Python 3 ;)

[2018-04-27 01:55] reneeotten commented on #470
@newville looking a bit more at the documentation we could use ```Exception``` instead, that pretty much includes the same stuff as you mentioned... However, I still think that just the ```RuntimeError``` should suffice, but it's your call.

[2018-04-27 02:05] newville commented on #470
@reneeotten Good point -- apparently I was reading the old docs!  It seems like `except Exception` is the preferred choice.  Honestly, I don't know why that is significantly different from a bare `except`, except that PEP8 complains about one but not the other.

We really do mean "try to use matplotlib, but if **for any reason** you cannot, carry on without it".  That seems like a bare except to m

[2018-05-01 14:03] reneeotten commented on #470
closed by PR #472, commit 1f22c6f087521a8ec36dd7954bf41b890b07a029

[2018-05-01 14:22] #470 closed, assigned to newville

[2018-05-14 18:04] newville commented on #23
Closing again... I don't think we're going to do better than we are doing on these.

[2018-05-14 18:04] #23 closed

[2018-05-14 18:05] newville commented on #76
This never really gave consistent improvement.  I think it's really an issue to be solved upstream anyway.

[2018-05-14 18:05] #76 closed

[2018-05-14 18:08] newville commented on #375
closing this as it's a vague issue and I think there is not anything we really can do about it.....

[2018-05-14 18:08] #375 closed

[2018-05-15 03:15] reneeotten commented on #382
@gyger are you still interested in (working on) this?

[2018-05-20 17:01] gyger commented on #382
Hey sorry for the late response.
I never came around creating a pull request from my code. I missed that, I am sorry.
If somebody else wants to do this as a small fix, very fine for me.
Otherwise it can also be closed and reopened if somebody finds this annoying again.

[2018-05-21 01:08] newville commented on #382
@gyger no problem!   @reneeotten I'd vote to close this.

[2018-05-22 13:45] laurentperrinet opened #480 "convergence of fit when including NaN values"
#### Description

We use (and love!) ``lmfit`` to fit numerous types of eye movements. Since version 0.9.8, we have problems with the handling of NaN values (which we use when there is a saccade, that is a rapid eye movement).

###### Version information
[code]

###### A Minimal, Complete, and Verifiable example

 - with lmfit 0.9.7 :

[code]

returns the true value (1) as expected.

- with versio

[2018-05-22 15:47] newville commented on #480
Hi Laurent,

On Tue, May 22, 2018 at 9:00 AM Laurent Perrinet <notifications@github.com>
wrote:

Sorry for the trouble.

What changed for handling NaN and the "omit" policy is that in the later
versions we attempt to remove NaNs from the data *before* doing the fit.
To do that, the NaNs are removed from `data` **AND** from the corresponding
values of `x` (and weights, if used), so that the values

[2018-05-23 10:52] laurentperrinet commented on #480
indeed, using

[code]

solved the issue, thanks!

[2018-05-23 10:52] #480 closed

[2018-05-24 00:15] #382 closed

[2018-06-02 01:33] reneeotten commented on #169
@newville okay, after some delay I started looking into this again...
It seems to work with calculating the Hessian with ```numdifftools``` and then from there getting the covariance matrix (i.e., ```np.linalg.inv(hessian) * 2.0```). That is, it gives the correct answers when comparing to ```leastsq``` when there are no upper/lower bounds set for the parameters. What I haven't figured out yet is h

[2018-06-02 13:58] newville commented on #169
@reneeotten Great!

For fixing the covariance in the presence of bounds-transformed Parameters, I would first ask:  are you using numdifftools on the *internal, free parameters* or on the *users external parameters*.  If it is on the external parameters, it might just work the same for bounded and unbounded.   But, since you're saying it does work in one case, you probably mean it does not work fo

[2018-06-02 14:44] reneeotten commented on #169
@newville it indeed doesn't work right now for bounded parameters. I'm using (I think) the external parameter values and give those to numdifftools, but that distinction is a good point. I understand that I could follow the same recipe as in ```leastsq```, but for that I would need the equivalent of ```fjac``` from numdifftools and I am not sure yet how to do that. I do get a correct covariance ma

[2018-06-02 15:04] newville commented on #169
@reneeotten Maybe just compute the Jacobian by hand, as at
https://github.com/lmfit/lmfit-py/blob/master/lmfit/model.py#L1327 ?  That could then work on external values, and you don't need the step of scaling by `Parameter.scaled_gradient`.  ... I think...

[2018-06-12 18:09] campagnola opened #482 "Using nan_policy=omit causes exception in scipy.optimize.leastsq"
#### Description
I have recently begun to encounter this error  message during fitting:
[code]
It only occurs when using nan_policy='omit', and then only when there are non-finite values generated by the model function. I found another project with a similar issue: https://github.com/MDAnalysis/mdanalysis/issues/1848 that suggests it's caused by a behavior change in scipy.

###### Version informat

[2018-06-13 01:53] newville commented on #482
@campagnola   It is always kind of astonishing to me when someone submits a question as a Github issue.  We have CONTRIBUTING.md, and ISSUE_TEMPLATE.md, and a link on the main documentation page labelled "Getting Help" (https://lmfit.github.io/lmfit-py/support.html) that are hard to miss or misinterpret.  I would have been about 100x more sympathetic and willing to help if you had asked this as a

[2018-06-13 17:52] campagnola commented on #482
Sorry for the trouble @newville, I don't consider my report above to be a question; I am not asking for advice. I am suggesting that lmfit has acquired some unexpected behavior as a result of an upstream scipy change, and it would be reasonable to make some minor code changes to avoid this unexpected behavior in the future (the causes and solutions to this issue may be immediately apparent to you,

[2018-06-13 18:33] newville commented on #482
@campagnola   I don't know if anything changed with scipy on this.  For sure, `leastsq` does not work if the length of the residual changes.  Setting `nan_policy='omit'` and having nans generated by the objective or model function will cause that, especially if some range of parameter values causes nans, as your example does.  Basically, an objective or model function that generates nans will *alw

[2018-06-13 23:47] campagnola commented on #482
I see your point regarding model functions that produce nan versus data containing nan; deprecation is not an option.

In my case, I have model functions that produce variable numbers of nan/inf depending on the parameters and the range of independent variable values. Ideally I would bound the parameters to avoid encountering non-finite values, but often the boundaries are nonlinear and difficult

[2018-06-14 01:59] reneeotten commented on #482
it's true the behavior for your example indeed changed with a newer version of scipy, a quick test suggests that it's actually version 1.0.1. I haven't looked carefully, but perhaps the changes between 1.0 and 1.0.1 are small enough to figure out what exactly changed and why...

It seems to me that changing the "array size between function calls" is typically a good enough reason to halt the fit,

[2018-06-14 03:04] #482 closed

[2018-06-18 16:41] RoyiAvital commented on #359
Is there a model for Sum of Sines like in MATLAB?

[2018-06-18 16:44] newville commented on #359
@RoyiAvital Use the mailing list for questions about lmfit.  Do not hijack unrelated issues.

[2018-06-19 09:55] vkoroteev opened #483 "Python crash when fixing the parameter to itself."
Python crashes when you accidentally set fit parameter expression to the name of the parameter.

###### Version information
Python: 3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]
lmfit: 0.9.10, scipy: 1.1.0, numpy: 1.14.2, asteval: 0.9.12, uncertainties: 3.0.2, six: 1.11.0

###### A Minimal, Complete, and Verifiable example
from lmfit.models import LinearModel

[2018-06-20 03:28] newville commented on #483
Hm, I don't get crash on either macOS and Linux.  I get a RecursionError, which seems sensible enough to me.  I'll try on Windows 64-bit soon, but will be very surprised if that crashed the interpreter on Windows.  The code involved for this is pure Python, so that would be a Python bug.

[2018-06-20 18:12] newville commented on #483
@vkoroteev As I suspected, I don't get a crash on 64 bit Windows either, using the same Anaconda Python version (3.6.5) as you.  I get a RecursionError on all systems I tried.

In short, I cannot reproduce the problem reported and am skeptical that we will have uncovered a bug in Python which causes crashes where one would expect a RecursionError or some other runtime exception.

[2018-06-21 08:50] vkoroteev commented on #483
It sounds like good news. Seems this is not a bug in lmfit, but my personal installation issue.

[2018-06-21 14:38] newville commented on #483
@vkoroteev can you verify that you really get Python to crash, and not give an exception with your example?

[2018-06-21 16:20] vkoroteev commented on #483
I believe this is crash.
![crash](https://user-images.githubusercontent.com/7648791/41731800-9e039512-757f-11e8-8da0-5ee0b7d3fd4e.png)

Here is complete Problem signature:
  Problem Event Name:	APPCRASH
  Application Name:	python.exe
  Application Version:	3.6.5150.1013
  Application Timestamp:	5abd3210
  Fault Module Name:	python36.dll
  Fault Module Version:	3.6.5150.1013
  Fault Module Timestam

[2018-06-22 01:13] newville commented on #483
@vkoroteev Sounds like a Jupyter bug to me.  I'll close this, but if you think this really is a lmfit issue, feel free to re-open it.

[2018-06-22 01:13] #483 closed

[2018-07-29 12:16] schachmett opened #486 "asteval errors are not flushed after raising"
#### Description

With parameter.set(expr="foo"), if the expression raises an exception in asteval, this error is stored in parameter._expr_eval.errors. Now, the function https://github.com/lmfit/lmfit-py/blob/6c87262fcfd3c361b197c6769852f76366113246/lmfit/parameter.py#L18-L21 gets called from parameter.__set_expression(val) and checks if the length of this errors variable is longer than 0 and if

[2018-07-29 13:36] schachmett commented on #486
Seeing that my PR failed travis-ci and I am not very experienced with your project, another suggestion would be to provide a public method that checks if an expression is valid without already setting it.

[2018-07-31 02:11] newville commented on #486
@schachmett  sorry for the delay: I was traveling.  I agree that this looks like a real problem needing a solution and that #487 might be a good start of that solution.  I'll try to look into this week too.

[2018-07-31 11:51] schachmett commented on #486
@newville no problem and thank you. At the moment, I am using something like
[code]
where `expr` is the algebraic expression I wanto to test for Parameter `param`. `isvalid` is returned to see if the operation was successful.

I think a good behavior would be if Parameter.set() would raise the exception inside `evaluator.error` after clearing it.

[2018-08-07 08:23] achennu opened #488 "Composite models parameter nameclash"
Firstly, thanks for a great package and superb documentation.

I am trying to build a composite model, and noticed that there seems to be a namespace problem in the parameters that are built. Briefly, I try to create a multi-peak model, say of two Gaussians and add them together for a composite model.

[code]
What I expect is that the parameters of candidate1 are:  `['c1p1sigma', 'c1p1fwhm', 'c1p1

[2018-08-07 08:32] achennu commented on #488
Having looked through the code, I suspect that the issue  is in the `_parse_params` of the composite model?

https://github.com/lmfit/lmfit-py/blob/6c87262fcfd3c361b197c6769852f76366113246/lmfit/model.py#L964-L977

[2018-08-07 11:07] newville commented on #488
@achennu I am most confused by how is it possible that you read all the instructions and still asked a question using Github Issues instead of using the mailing list.

I think the short answer (as, again this is a question that should be on the mailing list) is "resetting the prefix of a model after it is created is likely to cause problems.  Don't do that".

[2018-08-07 11:07] #488 closed

[2018-08-07 12:09] achennu commented on #488
Hi @newville , I'm also confused by why you're so so heavy-handed in your reply, for what is clearly a failing in the software.

To be clear: I did not have a "how to do this?" questions. It *is* a bug. Ghost parameters are created, with and without a prefix. This is clearly demonstrated in my example.  Your "short answer" is also not reflected in the documentation, nor in the docstring of the `pr

[2018-08-08 18:51] #486 closed

[2018-08-16 21:36] newville opened #489 "ExpressionModel max_time problem"
See https://groups.google.com/d/msg/lmfit-py/Ex3IfjNjiQE/tOJkOeJWCwAJ for bug report and proposed solution.

[2018-08-26 01:25] #489 closed

[2018-09-02 19:58] newville opened #491 "loading a saved ModelResult should correctly restore data, weights, init_params member"
restoring a saved ModelResult leaves several members as `None` and not properly restored.  See
https://groups.google.com/d/msg/lmfit-py/0wxv6JnRwiU/t8OmePZAAwAJ for discussion.

I think `data`, `weights` and `init_params` are all affected.

[2018-09-02 20:14] newville opened #492 "Model independent parameters coerced to ndarrays"
Currently, a model's independent variables are coerced to numpy ndarrays (see https://github.com/lmfit/lmfit-py/blob/master/lmfit/model.py#L842).  It makes sense to do this for the `data` -- which must be nd-array like, but I think it should not be required for independent variables, which should be allowed to be any python object.   We currently check for independent variables that are scalar-lik

[2018-09-05 16:11] newville opened #493 "Add SkewedVoigtModel"
we have a SkewedGaussianModel and a skewed_voigt function, but no SkewedVoigtModel.

[2018-09-14 10:55] benmaier opened #497 "ValueError when using scipy development version"
# Description

When a `scipy` development version is installed, determining its version fails in lmfit/minimizer.py

[code]

Generates the following error

[code]

# Versions

* lmfit: 0.9.11
* scipy: 1.2.0.dev0+dfb0cc2

# Minimal example

This works only when a scipy dev version is installed.

[code]

[2018-09-14 11:03] benmaier commented on #497
suggested solution:

replace both occurences of

[code]

in `minimizer.py` with

[code]

[2018-09-17 20:45] newville opened #499 "ModelResult.eval overwrites userkws, but not userargs."
`ModelResult.eval` overwrites `userkws`, but not `userargs`, which leaves the potential for an inconsistent state.

See https://groups.google.com/forum/#!topic/lmfit-py/GmBMu9bnmtA for further discussion and demonstration that subsequent fits or `emcee()` might be broken after doing `ModelResult.eval`.

[2018-09-18 09:07] exowanderer opened #500 "Emcee v3.0rc1 with LMFIT: Error accessing run_mcmc output in Minimizer.py"
This bug is for the pre-release or github version of `emcee` paired with `lmfit` (i..e `emcee >= 3`); currently, lmfit has emcee==2.2.1 (PYPI official release) as an optional dependency.  [Emcee via github](https://github.com/dfm/emcee) is on 3.0rc1, which uses the `State` class for `sampler` output, instead of a list. This causes issues down the line when using `lmfit.Minimizer.emcee`.

In `lmfit

[2018-09-19 00:57] newville commented on #500
@exowanderer OK -- thanks very for the update and/or warning!

I think we'll want to support emcee 2.2 for a while (at least one year, maybe two).  Perhaps we should add a test for the `emcee` version and explicitly handle the two versions separately?

[2018-09-19 07:55] exowanderer commented on #500
Sure. I put this here for people like me who use emcee v3.  There's no need for nominal users to change anything; but I have previously derived solutions form many Issues pages on github in my research, and wanted to give back to those who use emcee v3 with lmfit.

[2018-09-19 07:55] exowanderer commented on #500
I meant to say that we can close this issue as you please

[2018-09-24 16:58] #497 closed

[2018-10-03 13:37] #493 closed

[2018-10-03 13:37] #491 closed

[2018-10-04 10:06] tillea opened #502 "Test suite failure"
Hi,
there is a bug report for Debian about a [failure of the build time test](https://bugs.debian.org/906381).
The bug was reported against version 0.9.7 but I also had no success to build version 0.9.11.

Version information

    Python: 2.7.15+ (default, Aug 31 2018, 11:56:52)
    [GCC 8.2.0]
    scipy: 1.1.0, numpy: 1.14.5, asteval: 0.9.12, uncertainties: 2.4.4, six: 1.11.0

    Python: 3.6.7rc

[2018-10-04 11:51] reneeotten commented on #502
we've seen this test failure as well at some point in March with a newer versions of scipy (I think scipy 1.0.1), but that should have been fixed by #467 (so in all versions after 0.9.10). For me (and Travis) the test-suite seems to pass, so I am not sure... The report is for 0.9.7 but you say that 0.9.11 doesn't work either, can you please post the full log (i.e., is it the same failure)?

[2018-10-04 15:29] newville commented on #502
@tillea @reneeotten  Hm, I don't see where those errors are really coming from.  It sort of looks like they are coming from `scipy.optimize` -- that's not to blame them and say "it is not our problem", just trying to identifying where the problem is.

But, I don't get those errors with scipy 1.1.0.   So, I'm not sure.   We do test regularly with Travis, and so miniconda.   In general, it's hard fo

[2018-10-05 00:00] newville opened #504 "nose dependency"
We should remove the need for `nose` from the test suite, and rely only on `pytest`.

I think we're really only using `nose.SkipTest`, which I believe just becomes `pytest.skip`.

[2018-10-05 08:34] tillea commented on #502
Hi,
thanks for both very quick responses.  I'll come up with more details about the current issue soon but probably I will not manage before beginning of next week.
Kind regards, Andreas.

[2018-10-10 11:00] reneeotten commented on #502
@tillea yes it does ;) It's caused by the ```uncertainties``` package and looking at it your first post again I realize now that you're not installing the correct dependencies. As listed in the ```requirements.txt``` you should have at least these packages and version numbers:
[code]

so both ```scipy``` and ```uncertainties``` are too old - can you update those and try again?

[2018-10-10 17:56] zobristnicholas opened #507 "user defined functions in Parameter asteval expressions overwritten by __deepcopy__"
Hi,
Using a custom asteval.Interpreter class with user defined functions to initialize a Parameters object does not work. It looks like this is unintended behavior.

The Parameters object is created correctly, but it is copied before the fit and the custom function is not transferred. It looks like the just the __deepcopy__ method for the Parameters object needs to be updated to address this.

Her

[2018-10-10 18:52] newville commented on #507
@zobristnicholas   It looks to me like this is not a copy/deepcopy problem but a question of "what is the best way to pass user-defined functions in".

Doing
[code]

would work, for example.

Probably the right thing to do is add a `usersyms` argument to `Parameters()` that does this.  Then we could deprecate the `asteval` argument.

[2018-10-10 19:14] zobristnicholas commented on #507
That solution fixes my current problem. Thanks!

I agree that adding a usersyms argument to Parameters is cleaner than trying to modify __deepcopy__.

It looks like this came up because asteval.Interpreter() adds all callables in usersyms to the no_deepcopy list on instantiation. So, it doesn't appear in _asteval.user_defined_symbols(). The easiest way around that is to just add the functions to t

[2018-10-11 09:15] tillea commented on #502
Yes, one a package is released the dependencies should be right.  As long as it can not be build (for whatever reason) you see sometimes things that are not right.

Its not **me** who **wants** to do **that**.  I'm just trying to fix an issue that is not dealt with by the official Uploader of the package (I have no idea why Frédéric (in CC) excluded three files which is documented inside the [debi

[2018-10-11 11:03] picca commented on #502
Hello, I just removed these files:
[code]
numpy doc is already available as a package, github was not used, if I am not wrong and for apigen.py I do not remember.

I do not take care of this because, I am also waiting for the `uncertainties` to be accepted by Debian.
thanks Andrea for this packaging

[2018-10-11 13:53] tillea commented on #502
We are definitely using released versions ans in the python-uncertainties case we used the [from pypi](https://pypi.org/project/uncertainties/#files) that is usually considered a trustworthy source.  Unfortunately this tarball with the same name as can be downloaded from [Github](https://github.com/lebigot/uncertainties/releases/latest) has different size and content of files.
So I  tried the vers

[2018-10-11 14:55] newville commented on #502
@tillea @picca  I just verified that all of the lmfit tests pass for me with uncertainties 3.0.2 as installed with `pip install uncertainties` and lmfit 0.9.11 for Python 2.7.15 and Python 3.6.6.

I do not know what you are doing wrong with your build, but then again you haven't told us what you are actually doing.  In fact, you've not included what commands you run to generate whatever errors you

[2018-10-11 16:05] reneeotten commented on #502
As I said yesterday, I did get the same error as you reported at some point - now I have difficulties reproducing it. Having said that, it's something in the packaging of the ```uncertainties``` package - after building that, did you run their test-suite? Or just open Python and do the ```import uncertainties``` statement, that should already trigger the error, if present. If that passes, there is

[2018-10-14 06:17] tillea commented on #502
Hi Renee,
On Thu, Oct 11, 2018 at 09:05:25AM -0700, Renee Otten wrote:

I was able to solve the issue with uncertainties.  Please feel free to close this issue.
Kind regards, Andreas.

[2018-10-14 14:32] #492 closed

[2018-10-14 14:33] #499 closed

[2018-10-14 14:33] #504 closed

[2018-10-14 14:39] newville commented on #502
@tillea OK, we can close this.  Out of curiosity, would you be willing to summarize the problem and solution?  I'm not sure I ever fully understood what was going wrong.  It seemed to start out being about `scipy`, but then was about `uncertainties` versions.  It seems it might have been something that might have been seen elsewhere, but was sort of hard to reproduce reliably (I think...).

As it

[2018-10-22 20:43] newville commented on #507
should be fixed in master branch with #510

[2018-10-22 20:43] #507 closed

[2018-10-22 23:57] newville commented on #502
OK, I guess we'll close this.

[2018-10-22 23:57] #502 closed

[2018-10-24 13:23] #169 closed, assigned to nobody

[2018-11-14 08:17] wallo-zz opened #516 "Bug when setting expression for a parameters object resulting in crash"
I encountered this bug recently while trying to make a fit on some experiment results i got. The error results from trying to set a specific parameter using an expression which is equal to that same specific parameter. Then using this parameter in a model to fit will result in the kernel dying.

Since this bug resulted in the kernel dying and then restarting, I had no idea where to look and thus i

[2018-11-14 10:42] newville commented on #516
@wallo-zz  Please use the mailing list for questions about lmfit.  The instructions are pretty clear on this.   I don't know why your "kernel" (Jupyter, something else?) is dying, but it's their problem.  The script you posted will (correctly, BTW) raise a RecursionError.   That should not kill the kernel.    But also, whatever kernel you are using is not Python -- it is an interface to Python.  S

[2018-11-14 10:42] #516 closed

[2018-11-19 14:23] geom16011 opened #517 "install"
Installed properly the package.

But when i do import lmfit i get the following error:

Traceback (most recent call last):
  File "<pyshell#0>", line 1, in <module>
    import lmfit
  File "C:\Python27\lib\site-packages\lmfit\__init__.py", line 42, in <module>
    from .confidence import conf_interval, conf_interval2d
  File "C:\Python27\lib\site-packages\lmfit\confidence.py", line 12, in <module>

[2018-11-19 16:02] newville commented on #517
@geom16011 fixed in github master branch, we're hoping for a release of 0.9.12 very soon.

[2018-11-20 11:56] geom16011 opened #518 "best_fit"
How is it possible to restrict the parameters that best fit provides to only positive ones?

[2018-11-20 12:56] #517 closed

[2018-11-26 14:41] newville commented on #332
@uvainio Please do not hijack github Issues with questions about lmfit.   We have a mailing list for support and use github Issues for actual issues with the code and docs.   This is described many places in the docs and github pages.

It is possible to specify `maxfev` for Model.fit, as with
[code]

[2018-11-26 15:56] uvainio commented on #332
Hi Matt,

Many thanks for the very informative answer, and sorry for misusing guthub. Again one step closer to learning how to use it correclty!

[2018-12-07 04:09] newville opened #521 "should report if errorbars is False"
The fit reports should probably be explicit about whether or not uncertainties were calculated, and even why they may not have been calculated.

[2018-12-10 23:42] Bacoknight opened #522 "Emcee method UnboundLocalError"
#### Description

I am trying to minimise a function using the emcee method, but after the first iteration there is a crash with the following traceback:
[code]

**The code causing this seems to be:**

        for results in self.sample(pos0, lnprob0, rstate0, iterations=N,
                                   **kwargs):
            pass

        self._last_run_mcmc_result = results[:3]

        ret

[2018-12-11 13:09] newville commented on #522
@renneotten shouldn't this example get an answer closer to zero?  It seems like the fit isn't moving far from the starting value.  Any ideas?

[2018-12-11 14:23] reneeotten commented on #522
I think it works fine, except that ```emcee``` with the settings chosen in the minimal example does not converge and that *I think* ```float_behavior``` should be set to ```chi2```.
If you change the function call to: ```optimiser = lmfit.minimize(ObjectiveFunc, params, method="emcee", float_behavior='chi2', steps=1000, thin=20, burn=300)``` it seems to work for me. The value isn't exactly ```0```

[2018-12-11 14:30] reneeotten commented on #521
I don't have big objections to add this, but also no real interest in doing so ;) I would say it's quite obvious: if there are no uncertainties reported it means that they were not calculated. For the reasons **why** this could be the case, I think referring to the description in [the manual](https://lmfit.github.io/lmfit-py/fitting.html#goodness-of-fit-statistics) would suffice.

[2018-12-11 17:00] newville commented on #522
@reneeotten  Ah, thanks, that's makes sense. I think I was implicitly expecting `float_behavior='chi2'`.

[2018-12-11 18:07] newville commented on #521
@reneeotten I'm willing to try to add this.  I don't think it's a high priority, but I can see the benefit of having better reporting about error bars.

[2019-01-13 01:31] reneeotten opened #527 "new algorithms in SciPy v1.2"
Two new optimization algorithms (```dual_annealing``` and ```shgo```) are introduced in SciPy v1.2. I think these should be supported in lmfit as well - opinions?

The algorithms are described as follows in the SciPy release notes:

```dual_annealing``` (and ```shgo``` below) is a powerful new general purpose global optizimation (GO) algorithm. ```dual_annealing``` uses two annealing processes to

[2019-01-13 20:37] newville commented on #527
@reneeotten  I agree!

[2019-01-14 15:47] newville opened #528 "should delay import of matplotlib.pyplot"
OK, this is admittedly something of a corner case, and I am not certain of the right approach.   I am going to try to describe the problem in full below, but suggest a simple solution first.   That is, I propose that we delay `import matplotlib.pyplot as plt` in `model.py` until as late as possible.  That is `import model` should try to `import matplotlib` but not `pyplot`, and the import of `pypl

[2019-01-14 21:10] wholden opened #530 "Parameters do not get passed properly when performing a re-fit with the ModelResult.fit() method."
#### Description
Parameters do not get passed properly when performing a re-fit with the ModelResult.fit() method.

After performing a fit and getting a ModelResult output, if the parameters are changed and `ModelResult.fit(params=changedparams)` is called, the ModelResult is unaffected.

###### Version information
Python: 3.6.6 |Anaconda, Inc.| (default, Jun 28 2018, 11:27:44) [MSC v.1900 64 bit

[2019-01-14 21:16] newville commented on #530
@wholden  It is intentional that the input `Parameters` (your `gaussianpars`) are not updated by the fit.  The updated, best-fit Parameters are held in `out.params`.   That allows you to have both input and output parameters (and any intermediate Parameters as you make changes to the fit).

[2019-01-14 21:20] wholden commented on #530
@newville Yes the original `gaussianpars` variable is unaffected.  In this case, after the first fit, I modified `gaussianpars` and passed it to `ModelResult.fit(params=gaussianpars)` expecting that by passing the modified version, it would update the fit, but it did not.

[2019-01-14 22:21] newville commented on #530
@wholden   Sorry, but huh?  Why are you using `ModelResult.fit()` at all?

As you must have read when submitting this Issue, we strongly encourage starting with questions on the mailing list instead of raising Issues.

[2019-01-14 22:41] #530 closed

[2019-01-14 22:45] newville commented on #530
@wholden

The recommended way would be

     start_params = model.make_params()
     ...
     result1 = model.fit(ydata, start_params, x=x)
     # now tweak those....
     result1.params['sigma'].value = 2
     result1.params['sigma'].vary = False
     result2 = model.fit(ydata, result1.params, x=x)

Now you have `start_params`, `result1.params`, and `result2.params`.

[2019-01-14 22:56] wholden commented on #530
@newville Thank you, yes perhaps that's the best way.  I realize now this is not the type of issue that should be posted to the Github.  Apologies for the false alarm.

The layout of the code and the docstring for ModelResult.fit made me think that it was natural to do it the way that I was describing, but perhaps it's better to stick to a consistent usage.  I'll post to the mailing list, and perh

[2019-01-14 23:02] newville commented on #530
@wholden FWIW, I do think that `ModelResult.fit()` usage ought to work...  Does it not?

[2019-01-14 23:06] wholden commented on #530
@newville
It does not work if you try to manually supply the parameters, for instance by manually changing the start_params:

The following would not match the behavior of the recommended way:
[code]

[2019-01-15 17:36] reneeotten commented on #528
I personally don't use Anaconda on macOS, but have heard about issues with Framework builds when doing so. If PR #529 fixes the problem, I seen no harm in doing that (fix seems easy enough and not worthwhile to explore other approaches).

[2019-01-19 20:45] reneeotten commented on #528
addressed by merging PR #529.

[2019-01-19 20:45] #528 closed

[2019-02-12 00:59] zobristnicholas opened #534 "ModelResult breaks after multiple dumps() loads()"
I'm trying to use the ModelResult.dumps() and ModelResult.loads() classes to serialize the result of a model fit. For my application, this needs to be done more than once.

Unfortunately, calling the dumps()/loads() sequence more than once breaks. It looks like loads() doesn't perfectly recreate the ModelResult.

Here is an example:
[code]
Traceback:
[code]
Version information:
Python: 3.6.8 |Anac

[2019-02-12 02:25] newville commented on #534
On Mon, Feb 11, 2019 at 7:00 PM Nicholas Zobrist <notifications@github.com>
wrote:

Yeah, it does seem that a loaded ModelResult is not complete in the sense
that it has not been run (or "prepared") so that the `result` attribute has
not been defined.   I'm not entirely sure what the right solution is...

... so I'll come back to your initial statement:

        I'm trying to use the ModelResult.d

[2019-02-12 03:31] zobristnicholas commented on #534
I’m working on an application that sends ModelResults to different processes. They must be serialized first. Every once and a while they get sent more than once. It seemed most straightforward to use the built in methods. However, this can also be accomplished by just pickling the result, or only saving to file once and loading the rest of the time like you suggest.

I started the issue mainly bec

[2019-02-12 04:17] newville commented on #534
@zobristnicholas Yeah, ModelResult is sort of messy thing.  One could easily interpret that name to mean it holds the entire state of the model and the result, and be ready to redo a fit, make plots and so on.  And it *does* have all this.   But --- expecting to "save" all that and load back to that complete state that can pick up and run in another process is actually asking a lot, especially whe

[2019-02-21 00:37] newville opened #535 "leastsq() is not correctly returning best-fit values"
as described in https://groups.google.com/forum/#!topic/lmfit-py/inwgTqDTH3s
`minimize.leastsq()` is not guaranteed to run the residual function with the best-fit values when a fit is complete.  This means that while the reported best-fit values are found, the results for the parameters values used in the final call of the residual function are actually reported.   The difference appears to be at

[2019-02-25 12:28] newville commented on #535
addressed with #536

[2019-02-25 12:28] #535 closed

[2019-03-02 21:29] reneeotten opened #539 "(Voigt)Model.guess() does not correctly update all parameter values"
#### Description

It appears that some parameters with an expression are not updated correctly after ```<Model>.guess()```, at least for ```fwhm``` in the VoigtModel using the peak data in ```examples/test_peak.dat```.  The first time one tries to use parameter values it is ```nan```; it gets updated after the first call to ```pretty_print()``` (see example below); this should not be the case.

I

[2019-03-03 01:34] newville commented on #539
@reneeotten Hm, it looks like that must be common to lots of models with a `guess()` method.
I think that adding a call to `pars.update_constraints()` will probably do the trick.  I'll look into that....

[2019-03-03 15:22] reneeotten commented on #527
I have not forgotten about this... Some of it works already, but there are some issues left with handling of the bounds and calculating uncertainties with numdifftools. Hopefully a PR that adds these algorithms soon-ish!

[2019-03-03 17:16] newville commented on #527
@reneeotten OK, that's fine with me

I was just noticing how many things have changed in the last few months.  Should we plan on tagging/releasing 0.9.13 soon, maybe once the current round of PRs and issues are worked out? FWIW, I'm not 100% sure of what to do for #534.

Maybe we could aim for releasing 0.9.13 by April 1?  Or are we ready to just call this 1.0?  Maybe call this '0.9.13' and then r

[2019-03-04 04:21] reneeotten commented on #527
@newville we can certainly push a new release - beginning of April seems reasonable. If possible we include ```shgo``` and ```dual_annealing```, otherwise that can be released when ready. I'll take a closer look at the issue you mentioned, I haven't really followed what's going on closely...

Regarding a final release for Python 2: I would be in favor of releasing a version that requires the 1.2.x

[2019-03-04 21:27] newville opened #541 "pre-commit weirdness"
@reneeotten  I'm working on #537, and getting odd messages from pre-commit:

[code]

I can't see where the problem is coming from.   FWIW,  `pip install .` works for me.

If I try to alter `.pre-commit-config.yaml` to try to figure that out, it complains that this file is 'unstaged' and (incorrectly) says it should be added to the repo.   That leaves me kind of stuck without being able to commit t

[2019-03-04 21:54] reneeotten commented on #541
@newville I don't know, haven't seen that before... it's possible that your configuration is in an weird state.

Perhaps try ```pre-commit gc```, ```pre-commit clean``` , and then try ```pre-commit install```. That should, hopefully, get you back in a correct state.

[2019-03-04 23:50] newville commented on #541
@reneeotten Yeah, I tried all those.   `pre-commit install-hooks` is what is generating the error for me. I can do `pre-commit autoupdate`, which moved `mirrors-isort` to version 4.3.10, but I can't commit that change...

FWIW, I'm also seeing similar problems on MacOS with `pre-commit install-hooks` and its attempt to use `pip install`.  This complains about

[code]

Something definitely seems wr

[2019-03-05 02:41] reneeotten commented on #541
@newville weird indeed.... ```pre-commit``` (version 1.14.4) with Python 3.7 from conda isn't giving any of these issues. The TLS/SSL error shows up all Google; I assume that conda is kind-of self-contained and wouldn't rely on the system its ssl stuff, but am not sure... this seems however a clear issue with ```pip``` and not necessarily with ```pre-commit```.  Did you upgrade to the latest versi

[2019-03-05 02:57] reneeotten commented on #541
also do installs work when you use ```pip``` from the virtualenv that pre-commit uses (i.e., /home/newville/.cache/pre-commit/repoomr555ce/py_env-python3.6/bin/pip)?

[2019-03-05 03:53] newville commented on #541
@reneeotten Yeah, on MacOS, I was using an Anaconda Python 3.6.8 environment, but packages were up-to-date. including `pre-commit autoupdate`, and that was version 1.14.4.

I did install a brand new install of Python.org 3.7.2  for MacOS and then `pip install`ed the scipy + more stack onto that, and `pre-commit` worked.    Then switching back to the Anaconda environment seemed to work too.  No ide

[2019-03-05 04:07] reneeotten commented on #541
```pre-commit``` will install its commit-hooks in ```~/.cache/pre-commit``` and uses a virtualenv for that so that after the first install of the hooks its not dependent anymore on a specific (system) Python installation. So it makes sense to me that when updating a specific hook to a newer version it will need pip to install that package.

I *think* the issue is with ```pip``` in that virtualenv

[2019-03-05 12:58] newville commented on #541
@reneeotten  Yeah, it seems like it is working at the moment on MacOSX and will break as soon as it is able to try to update one of its hooks.

On Linux, using Anaconda Python 3.6.8 that is completely up-to-date, I have `pre-commit` v 1.14.4 that is pip installed. FWIW `venv` is included, `virtualenv` version 16.4.1 is installed, and so is `pipenv` (I don't think I've ever used that one....)   Any

[2019-03-07 12:12] #539 closed

[2019-03-07 12:39] newville opened #544 "roadmap, version 1.0, dropping Python 2 support, etc"
(Yes, we could use a mailing list or wiki for this discussion, but I think the Issues conversation style is OK here too... hope that's OK with everyone else.  I'd be OK with moving this to a wiki page.)

Over at #527, @reneeotten and I started the discussion of releasing 0.9.13, version 1.0, which scipy versions to support, when to drop support for Python 2, etc.  Those are probably each slightly

[2019-03-07 13:02] reneeotten commented on #521
addressed by merging of PR #543

[2019-03-07 13:02] #521 closed

[2019-03-10 23:46] reneeotten commented on #541
@newville I haven't observed any issues yet with ```pre-commit```, is it stable now for you as well? One thing I see now upon reading your last comment again is that I have never done is ```pre-commit install-hooks```, I always just commit and then if it needs to update/install a hook that happens automatically first. I am not sure what command is run in that case, but looking at ```pre-commit --h

[2019-03-11 01:14] newville commented on #541
@reneeotten For me, a clean install and update of Anaconda2018, Python 3.7 followed by `pip install pre-commit` does allow `pre-commit` to work for me on Linux.  I'm not entirely sure what was wrong with Python 3.6.8 + `pre-commit`, but it was definitely failing at trying to install hooks.

I definitely like the idea of running linters on commits, but I have to admit that I am somewhat wary of  `p

[2019-03-11 01:14] #541 closed

[2019-03-25 02:41] newville opened #547 "gformat can sometimes given a string that is length+1"
Current master will sometimes give a string from `printfuncs.gformat` that is too long.  This appears to happen only when the value is around `10^n - delta`.

[code]

will print
[code]

The fix that slipped into #546 should address this by forcing the string to be the requested length.

Note also that `gformat()` does force the length to be at least 7 characters, even if the user requests fewer ch

[2019-03-25 11:43] newville commented on #544
I propose that we merge #546 and tag that as 0.9.13, in a couple of days (end of the week).   That leaves #545 unmerged and does not address the reported issue of weird behavior with starting values near 0.   Is that OK?

[2019-03-25 13:48] reneeotten commented on #544
That sounds like a plan! I will not have figured out the ```shgo``` and ```dual_annealing``` stuff before that, so let's postpone that to the next minor release.

As I said in the other thread, I would be in favor of having a last "fully-featured' PY27 release, in which we require ```scipy``` LTS version (1.2.x) and have all algorithms supported (including shgo and dual_annealing). Additionally, w

[2019-03-25 17:49] newville commented on #544
@reneeotten

OK.

That plan for "what should the final Py27 version support" is fine with me: we make a version that works for Py27 and scipy 1.2.x before dropping P27 support.  It is OK to call that final-Py27 version 0.9.1* (let's hope 0.9.14), and then have version 1.0 require Py36 or higher?  That would be my preference (as we could then drop `six` and rely on dicts being ordered as well as ot

[2019-04-02 00:11] #547 closed

[2019-04-02 02:46] newville commented on #534
@zobristnicholas this should be fixed in 0.9.13, and we now have a test based on this example.....  I'll close this, but feel free to reopen or raise a related issue if you have trouble with this.

[2019-04-02 02:46] #534 closed

[2019-05-10 18:07] newville opened #553 "saved models fail to restore when using Voigt or other models that use complex constraints"
Saving a model result with a Voigt Function works, but the saved model cannot be restored.

The problem can be reproduced with

[code]

which will give

[code]

[2019-05-13 16:31] #553 closed

[2019-05-16 17:03] gmonet opened #555 "func method for StepModel only return linear form"
#### Description
When I try to use func method for StepModel it returns linear form step even if I create arctan step model.

###### A Minimal, Complete, and Verifiable example
[code]
![image](https://user-images.githubusercontent.com/12810242/57872841-e8ab6c80-780c-11e9-97fa-34ff601687e0.png)
Working :)

[code]
![image](https://user-images.githubusercontent.com/12810242/57872820-daf5e700-780c-11e

[2019-05-16 17:57] newville commented on #555
@gmonet  Oh, hmm,  I don't know what's going on, but I'll look in to it. Thanks!

[2019-05-16 18:26] newville commented on #555
@gmonet  Actually, on second look, I don't see this as a problem.

When you call `StepModel.func()` with only `x` as a parameter, that is directly calling `lmfit.lineshapes.step()`.  Since you are not specifying any other function arguments, it is using its default parameters of amplitude=1, center=0, sigma=1, form='linear'.

You almost certainly don't want to use `StepModel.func` anyway, you *wan

[2019-05-17 05:52] gmonet commented on #555
@newville Ok, i see !
[code]
![image](https://user-images.githubusercontent.com/12810242/57905716-b8e57e80-7877-11e9-9d0f-0a5d4b1dabeb.png)

I understand that it is preferable to use the eval method when using lmfit "normally" but I need to use the func attribute in my case because I would like to give an np.array as a model parameter. Basically, I write a small lmfit top layer to fit several curv

[2019-05-17 05:52] #555 closed

[2019-05-22 19:07] reneeotten commented on #527
both the ```shgo``` and ```dual_annealing``` algorithms are now supported in ```lmfit```. Please give them a try and let us know if you find any issues with the implementation.

[2019-05-22 19:07] #527 closed

[2019-06-13 02:31] newville opened #560 "Error when adding two Parameters objects with certain constraint expressions"
`Parameters` objects are meant to support addition or joining with `+`.  This can fail when constraint expressions are involved.  See https://groups.google.com/forum/#!topic/lmfit-py/W9Fqhqbx7e8

###### A Minimal, Complete, and Verifiable example

[code]

###### Error message:

The above code with raise
[code]

The basic problem here is that `params2` is now "out of order" and looping through the

[2019-06-18 10:40] yoavram opened #562 "Sending nan_policy inside fit_kws causes exception"
#### Description
Sending `fit_kws=dict(nan_policy=...)` to `model.fit` used to work before (I think) commit 886dfeffad2fddc7449efedd93ac411009331fe5. This commit added an explicit `nan_policy` keyword argument, which clashes with the implicit keyword argument sent via `fit_kws`.

Of course, I could just update lmfit. But this does break backwards compatibility, which is not supposed to happen in a

[2019-06-18 12:01] newville commented on #562
@yoavram

Nope, that is not a rule we're going to follow.  This is an all-volunteer effort, and there is and will not ever anything we are "supposed" to do.  We are free to add keyword arguments to rationalize and fix problems with the API, as we did (21 months ago!) for this change.  We did deprecate and then remove the `missing` keyword as we added the `nan_policy` keyword. There is a `fit_kws`

[2019-06-18 12:34] reneeotten commented on #562
Just as a follow-up: it might have worked before, but I think is twas was never supposed/intended usage of ```fit_kws```.

The ```fit_kws``` argument is described as "fit_kws (dict, optional) – Options to pass to the minimizer being used", so in this case it should contain only options to pass to ```scipy.leastsq```. And ```nan_policy``` clearly isn't one, but we indeed do not check and make sure

[2019-06-18 18:31] yoavram commented on #562
OK, thanks for the quick and detailed replies!

[2019-06-18 18:31] #562 closed

[2019-06-19 08:45] mfWeeWee opened #563 "emcee method not recoginzed?"
[code]
Traceback error:
[code]
I don't understand? DO i need to install the emcee thing separately?

[2019-06-19 11:03] reneeotten commented on #563
Yes, as is described in [the manual](https://lmfit.github.io/lmfit-py/installation.html). Also, for the future, please read and follow the instructions before opening an Issue, this is clearly something that belongs on the mailinglist not on GitHub.

[2019-06-19 11:05] #563 closed

[2019-06-19 11:08] reneeotten commented on #560
Fixed with the merge of PR#561 in commit aa0510e5aa0b90baacdfbc16f1b1e7216eac243f

[2019-06-19 11:09] #560 closed

[2019-06-26 18:06] mfdecamp opened #566 "sigma parameter not defined for SplitLorentzianModel"
### DO NOT IGNORE ###

If you have not submitted a GitHub Issue to lmfit before, please read
[this](https://github.com/lmfit/lmfit-py/blob/master/.github/CONTRIBUTING.md) first.

In short, it says: ***do NOT use GitHub Issues for questions, it is only for bugs!***

We are happy to help, but please use the [mailing list](https://groups.google.com/group/lmfit-py)
for questions about lmfit. If you de

[2019-06-26 18:31] reneeotten commented on #566
@mfdecamp as the instructions say, it would be best to supply *all* the requested information (i.e., in addition to the traceback, also the minimal code to reproduce this issue and the version information of the packages you have installed) as it would help to diagnose the problem.

Having said that, in this case it looks like this bug is the same as [reported earlier on the mailinglist](https://g

[2019-06-27 00:46] newville commented on #566
@mfdecamp @reneeotten  Oh, yeah this fell off my screen.  I'll submit a PR for this.

[2019-06-28 21:09] reneeotten commented on #566
Fixed by #567 in commit 6ada32382e32985aa6ee579e606d6e527bff2e59

[2019-07-01 17:15] mfdecamp commented on #566
Please be aware, even with the modified lines in models.py, I am still
getting the " 'sigma' is not defined" error for the SplitLorentzian
fitting.  Any suggestions would be welcome...

Matt

On 6/28/2019 5:09 PM, Renee Otten wrote:

--
Matthew DeCamp
Associate Professor
Undergraduate Program Director
Department of Physics and Astronomy
University of Delaware
302-831-2671

[2019-07-01 17:33] reneeotten commented on #566
In that case, please post a complete, minimal example of your code that shows the error. Thanks!

[2019-07-01 19:29] newville commented on #566
@mfdecamp Oh, OK, yes I see that too.   Sorry for the trouble and incomplete solution.  Will fix soon.

[2019-07-02 19:31] #566 closed

[2019-07-06 12:22] agoose77 opened #570 "Support for complex signatures"
Currently we use `inspect.getfullargspec` which disallows following wrappers
https://github.com/lmfit/lmfit-py/blob/2ae2fc9e3dd6137d16cfa05474a34f33433e11ec/lmfit/model.py#L478

Would it be possible to use inspect.signature directly (and use the [backport](https://funcsigs.readthedocs.io/) for python2) which would permit the use of wrapped callables e.g. using `numba`.

[2019-07-06 13:10] agoose77 commented on #375
I know this issue is closed but I wanted to add a comment RE speed - fitting Gaussians is very slow if you fit using `p0 / (sigma * sqrt(pi*2)) * exp(...)`. This is probably due to blow-up at small sigma, or perhaps the additional dependency on sigma (I am not an expert). If you just fit `p0 * exp(...)` and subsequently determine `p0/(...)` it's *far, far* quicker!

[2019-07-06 13:56] newville commented on #570
@agoose77  Oh, I wasn't aware of the Funcsigs project to backport `inspect.signature` to Python2.  That would definitely be useful.  Using `inspect.signature` would have real advantages.  For example, we could then make decorators that check for and possibly act on invalid inputs/outputs (nans, infs, etc), and use these in all the examples.  That might better document and show users how to deal wi

[2019-07-06 14:24] agoose77 commented on #570
Great news! I'm currently patching `getfullargspec` to follow wrappers, so it would be nice to drop that :)

[2019-07-06 14:47] newville commented on #544
@reneeotten with #556 and soon #565 merged and a host of small fixes, we're probably ready to consider releasing 0.9.14.   And with #570, and with 2020 fast approaching, I think it's time to revive the conversation about dropping Py27 support and aiming for version 1.0.

As an updated starting point (suggestions welcome -- I'm probably forgetting something important!), I would propose that we rele

[2019-07-08 12:45] reneeotten commented on #544
@newville this sounds like a good plan to me!

Issue #570 sounds fairly straightforward to resolve (but I haven't actually looked how different the ```inspect.signature``` interface is...). Would you want to include that in 0.9.14 (or if it turns out to be more time-consuming in 0.9.15) as well by adding the backport for Python 2.7 or only add that to version 1.0?

[2019-07-09 00:49] newville commented on #544
@reneeotten Yeah, I *think* that addressing #570 and using `inspect.signature` would not be too hard.  It's a big change from `argspec`, but it looks straightforward and is encapsulated in ~10 lines of current code.   It's also relatively "clear" in what it should do and we have lots of tests of `Model` (at least, using unwrapped functions) that will break immediately if we get something wrong.

S

[2019-07-15 12:35] reneeotten commented on #570
Is anyone working on this? If not, I will take a look and see whether we can add this before releasing 0.9.15.

@agoose77 could you share a minimal, self-contained example that does not work with ```getfullargspec```, but should work when we switch to ```inspect.signature```?

[2019-07-15 13:05] newville commented on #570
@reneeotten I have not done anything about this yet.  If you have the time and will, don't hold back.

We could put this in 0.9.14 if it is ready, but either way is fine with me.

[2019-07-15 13:23] reneeotten commented on #570
right, that's what I meant to say... ;)

[2019-07-15 13:25] agoose77 commented on #570
This is a bit of an obscure test case, but it's used because the Numba `njit` decorator is a `methoddescriptor`, which getfullargspec doesn't support unless it defines a `__text_signature__` method (whilst signature does)

[code]

[2019-07-16 10:59] reneeotten commented on #544
Additionally, working towards a 1.0-release I think we should review/update the examples (plus give them a more prominent place on the website) as well as re-working how code/examples are added to the documentation.

I have some ideas for both of them (i.e., using [sphinx-gallery](https://sphinx-gallery.github.io/) and [jupyter-sphinx](https://jupyter-sphinx.readthedocs.io/en/latest/)) and will op

[2019-07-16 12:37] newville commented on #544
@reneeotten Yes, that would be great!

A bit more of a Users Guide --  worked examples with even a small bit of explanatory text -- would also probably go a long way in answering the most common categories of questions and maybe inspire people to try new and interesting things.

[2019-07-25 23:07] reneeotten commented on #570
@newville I looked a little, but to be honest am a bit stuck about what we would need from the ```inspect.signature``` output. I have not really looked much at this part of the code... and if the plan is still to release a new version in about a week from now, I don't think this is going to happen from my side. I will try to finish the "examples PR", but if you want to take over this issues feel f

[2019-07-26 12:35] newville commented on #570
@agoose77 @reneeotten I'll look at this and see if I can get it done soon.  I suppose it could wait until 0.9.15.

[2019-07-30 22:03] Tillsten commented on #570
@agoose77 Maybe you could post your wrapper? Even it is not a full fledged PR, it could reduce the time to built one.

[2019-07-30 22:36] Tillsten commented on #570
IRC only the following part of `model.py` needs to be adapted:
[code]

[2019-07-30 23:45] agoose77 commented on #570
I have just been intrusively patching atm, e.g '''python
def _patch_lmfit_inspect():
    """Patch `inspect.getfullargspec` to support wrapped callables"""
    import inspect
    from functools import wraps

    _getfullargspec = inspect.getfullargspec

    @wraps(_getfullargspec)
    def getfullargspec(func):
        if hasattr(func, "__wrapped__"):
            return getfullargspec(func.__wrapped

[2019-07-31 01:56] reneeotten commented on #570
@Tillsten sure... of course the question is not *which part* of the code needs to be adapted it's *how* to adapt it. We don't want to patch ```getfullargspec```,  instead we should go for the long-term solution and switch to ```inspect.signature``` as suggested by the OP. I tried to do that and failed given the amount of time I've been able to spend on it; if you have ideas on how to do it great -

[2019-07-31 02:13] newville commented on #570
@agoose77 @Tillsten @reneeotten  I'm working on a PR to use `inspect.signature`, modifying exactly the part of the code Till points to.   And, I think the example of using a `numba.jit` decorator is a good test, though I'm not 100% sure we want to add `numba` as a dependency just for testing.

Anyway, I think I'm close....

[2019-07-31 12:33] Tillsten commented on #570
@reneeotten Sorry for my misjudgement. From my very brief look at both the inspect documentation and the lmfit code I wrongly concluded it was the lmfit side where the problem was and wanted to give a pointer.

[2019-07-31 16:40] newville commented on #570
@Tillsten Oh, you were completely right -- we are currently using `getargspec` when we should be using `signature`.  That change is sort-of Py3 only (there is a backport, as the the OP pointed out), so we've been slow to make the change.  But also we're close to dropping all support for Py2 anyway, so it's time.   Anyway, I think #576 will do that (though it might need a tweak or two).

[2019-07-31 17:53] reneeotten commented on #570
no worries @Tillsten and I didn't intend to sound ungrateful for suggestions/pointers, always much appreciated! In this case, I already knew what to change, just not how ;)

[2019-08-02 18:58] newville commented on #570
@agoose77 @reneeotten @Tillsten  this should now be fixed in master.  We have one simple test of a wrapper that does not use numba.jit, but did I test it with a simple numba.jit function like the original message here too.

I'll close this, but feel free to reopen if there is something not working.

[2019-08-02 18:58] #570 closed

[2019-08-14 09:56] hombit opened #578 "Wrong MinimizerResult for brute with workers != 1"
#### Description
Current master version returns incorrect result report for `method='brute', workers!=1`, for example `nfev` always equals zero in this case.

###### A Minimal, Complete, and Verifiable example
[code]

[code]

###### Version information
[code]

[code]

[2019-08-14 11:42] newville commented on #578
@hombit Do you have any evidence that any attribute other than `nfev` is incorrect?  I don't see anything else that is obviously wrong.

Nfev is incremented internally in lmfit code - `scipy.optimize.brute` does not return this value or even an  `OptimizerResult`.  I can totally believe that `nfev` will not be meaningful when using multiprocessing -- the function evaluations will be done (and `nfe

[2019-08-14 12:19] hombit commented on #578
No, I've checked other attributes of `MinimizerResult` and haven't found other issues. But I believe that `nfev` can be specified correctly because `lmfit` knows number of grid knots.

[2019-08-14 12:44] reneeotten commented on #578
@hombit @newville indeed the the ```brute``` method does not return this information, but also we do know how many evaluations there are since we know the size of the evaluation grid.

In fact, in the tests I do make sure that ```result.nfev == len(result.brute_Jout.ravel())```; I just didn't add test for the ```workers``` options since I assumed that this was all done internally in ```scipy```. T

[2019-08-14 12:49] hombit commented on #578
@reneeotten I've got this error too, but only with `numdifftools` installed

[2019-08-14 12:54] reneeotten commented on #578
Yeah, okay I see... I've update my comment above already. It's because you didn't specify a ```value``` in the example. And the code that triggers this error is within and ```if```-block that only gets executed when you have ```numdifftools``` installed but no ```errrobars``` are determined. I think we should fix that at the same time as I suggested above.

[2019-08-15 16:42] #578 closed

[2019-08-15 20:29] SengerM opened #580 "Error "The input contains nan values""
Hi,

I think I am facing a bug, sorry if I am missing something stupid and it is not a bug, I have been some time trying to figure out what is happening with no success.

I am trying to fit a function to some data and am receiving this error. A MWE that generates my error is in [this repository](https://github.com/SengerM/lmfit_error).

Matías.

[2019-08-16 01:10] newville commented on #580
@SengerM   We have clear instructions on how to report an issue.  You must have read these and decided to ignore them and even deleted the template for how to structure an Issue.   We expect that anyone using lmfit has some technical and/or programming skill, can read and follow instructions, and understands that all code we produce and any help we give is completely voluntary.   When people like

[2019-08-16 01:10] #580 closed

[2019-08-23 14:39] teajohns opened #584 "Wrong documentation for Split Lorenztian model"
The documentation is wrong for the Split Lorenztian model.

From models.py, the fit function is:
f(x; A, \mu, \sigma, \sigma_r) = \frac{2 A}{\pi (\sigma+\sigma_r)} \big[\frac{1}{(x - \mu)^2 + \sigma^2} * H(\mu-x) + \frac{1}{(x - \mu)^2 + \sigma_r^2} * H(x-\mu)\big].
This is the same function written on the built-in models webpage.

The actual fit function from lineshapes.py is:
split_lorentzian(x,

[2019-08-23 15:07] newville commented on #584
@teajohns Oh, yes that definition and the docstring for the function is kind of a mess to read.  I will fix docstring and doc latex.  Thanks!

[2019-08-23 16:35] reneeotten commented on #544
@newville I think it's indeed pretty much done. I've left a few comments on your PR, which then should be ready to merge. I think after that merge and doing the easy fix for issue #584, we should be good to go. So what about we fix these two things and then release 0.9.14? I don't think there is anything else left, but if you want to tag another ```rc``` and release after the weekend that would be

[2019-08-23 20:09] newville commented on #544
@reneeotten Yes, I agree.  I'll merge #583 and then make a PR to address #584.

I propose that we plan to release 0.9.15 on 28-Aug or 29-Aug.   That still gives us time to merge the two PRs in question without feeling too rushed.

[2019-09-24 21:23] ezwelty opened #588 "Passing jac_sparsity to least_squares breaks minimize()"
#### Description

Calls of the form:

[code]

result in the Jacobian being returned as a sparse matrix, which breaks the calculation of the Hessian:

https://github.com/lmfit/lmfit-py/blob/d7b408baa64821f4356cff9c32a199bc53becd93/lmfit/minimizer.py#L1430

This should be replaced with something like:

[code]

or, perhaps faster but python 3 only:

[code]

#### A Minimal, Complete, and Verifiable ex

[2019-09-24 22:28] newville commented on #588
@ezwelty  You raised a Github issue instead of asking a question on the mailing list.  You cannot have missed the instructions that clearly advise not doing this.

Anyway, you raise yet another incompatible set of options for `least_squares`.  This does not surprise me or really even bother me that much.   The API and docs for `least_squares` are complete messes with numerous interdependent option

[2019-09-25 00:58] ezwelty commented on #588
@newville I read the contributor instructions and, considering this a bug, submitted a GitHub issue.

The documentation for [scipy.optimize.least_squares](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.least_squares.html) clearly indicates that the Jacobian is sometimes returned as a sparse matrix or a scipy.sparse.linalg.LinearOperator:

So a complete handling of this spec co

[2019-09-25 03:04] newville commented on #588
@ezwelty

Hm, yeah...  we also say:

Perhaps we are being too polite.

The doc for `least_squares` is a study in complex, interdependent options. To predict the behavior of `least_square`, one must know the value of **all** of the arguments and the complex ways in how they interact.

The type of `OptimizeResult.jac` is documented as

That is, one must know "the type used by the algorithm".  OK, ho

[2019-09-27 12:22] newville opened #590 "`iter_cb` not called with `emcee`"
A colleague asked why `iter_cb` wasn't called with `emcee`.

Here's a simple script to reproduce:

    import numpy as np
    import lmfit
    x = np.linspace(1, 10, 250)
    np.random.seed(0)
    y = 3.0 * np.exp(-x / 2) - 5.0 * np.exp(-(x - 0.1) / 10.) + 0.1 * np.random.randn(x.size)

    p = lmfit.Parameters()
    p.add_many(('a1', 4.), ('a2', 4.), ('t1', 3.), ('t2', 3., True))

    def residua

[2019-10-02 12:43] reneeotten commented on #590
Yes, that is a good point. I don’t see an obvious reason why it wouldn’t be able to call self._residual, but perhaps @andyfaff remembers why it was done in this way?

We’ll need to take a closer look at this method anyway as with the latest emcee release (v3.0.0) it doesn't work anymore. The PTSampler was removed and put into a separate project; I haven’t looked in detail if we can move away from

[2019-10-02 17:42] newville commented on #590
@reneeotten Hm, yeah I'm not 100% sure why `emcee` dropped `PTSampler`. I would say we follow suit and just drop  `ntemps >  1` case: support the keyword argument for back-compatible API but warn if the user sets `ntemps>1` and use EnsembleSampler.

It is also weird that `_lnprior` (which I believe we can drop if dropping `PTSampler`) and `_lnpost` are functions, not methods.  That would allow cal

[2019-10-02 21:07] andyfaff commented on #590
If there are N walkers then the log probability needs to be calculated N times per step. If one uses `__residuals` instead of userfcn directly then `iter_cb` will be called N times per iteration rather than once. Plus, what does `iter_cb` mean for a MCMC run? One would have to process the chain statistics to get the 'current' parameter values. I think that would mean a lot of processing - it's str

[2019-10-03 01:36] newville commented on #590
@andyfaff

"Iteration" and "Step" are sort of poorly defined terms, or at least "algorithm-dependent". In `lmfit`, the iteration callback is called for every evaluation of the user-supplied objective function.  That's why it is in `self.__residual`.

Nah, what is important is how many times the objective function is called.  Anything else is method-dependent and probably expects too much understan

[2019-10-03 12:03] reneeotten commented on #590
@andyfaff thank you for your insights, I’m not all that familiar with the emcee code and will need to take a closer look at it.

What is your opinion/experience regarding the (removal of the) PTSampler - would you just drop this as well in lmfit or is there a significant benefit of keeping that sampler around?

[2019-10-03 14:59] andyfaff commented on #590
In my project I use both a lot. Usage of them both is very similar to the existing lmfit-py interface, but a little bit of hoop jumping is needed (e.g. the MCMC chain shapes are different in ptemcee and emcee3).
PTSampler is useful in model selection (thermodynamic_log_evidence), and for examining strongly multimodal systems. It typically also has a smaller autocorrelation time when sampling.
I wo

[2019-10-03 16:32] newville commented on #590
@andyfaff  How would you propose that we keep `PTSampler`?  I thought it was no longer supported in `emcee`.  I don't know the details of why they dropped this, but I imagine they had a reasons.  I would not want to require an older version of `emcee`, or maintain that code ourselves.

I don't know how ptemcee might be different from emcee (had not heard of ptemcee actually), but if "hoop jumping"

[2019-10-09 15:44] #588 closed

[2019-10-26 07:56] luriomer commented on #332
Are there any news about this issue? I highly support this, since I have wrappers around LMFIT and this can easily simplify things.

[2019-10-26 13:19] newville commented on #332
@luriomer  I guess this sort of got lost.  Just to be clear, the inconsistency is in `scipy`, and the question here is how much we try to "smooth out" the inconsistencies and poor API choices in scipy versus being a "thin wrapper".   <insert rant about scipy.optimize inconsistencies and poor API here>.

Anyway, I  guess I would suggest we standardize on "maxfev" as "maximum number of function eval

[2019-10-26 15:20] luriomer commented on #332
Yes, I understand. I have to do it on my end anyway so I hope I'll have also time to file a PR soon.

Best

[2019-10-28 11:55] Tillsten opened #597 "BUG: lmfit.conf_interval does not work with len(p_names) = 1"
#### Description
The lmfit confidence calculation fails when len(p_names) < 2. This is due to bug in the counting of the free variables: Instead counting all parameters where vary is True, it counts only the one which are in p_names.

[2019-10-28 12:16] newville commented on #597
@Tillsten Oh, thanks.  We should fix that. And maybe add a test of `conf_intervals` with 1 variable.

[2019-10-28 12:17] Tillsten commented on #597
Yeah, it almost a one-liner. I am just on a machine where I don't have a good dev environment.

[2019-10-30 11:34] luriomer commented on #332
Correct me if I'm wrong, but this issue is a bit bigger than `maxfev` vs. `maxiter`. As I understand, `Minimizer.minimize(method="leastsq",params=...)` and `Minimizer.leastsq(params=...)` do the same thing, which makes it hard to correctly wrap all of the desired parameters in a consistent way.
For more complicated minimizers, like `basinhoppping`, we have more complicated kws structure, because `

[2019-10-30 14:03] newville commented on #332
@luriomer   Yeah,  trying to smooth out those messy wrappings would be my preference too.  I think we would probably want to do something like adding a `max_evaluations` argument to the `lmfit` methods that then writes to `maxfev/maxiter`  as appropriate (and then not requiring the user to use `minimizer_kwargs`).

A slightly more involved (but probably better) approach would be to take the value

[2019-10-30 17:19] luriomer commented on #332
@newville Yes, it sounds great. Although it might be good to allow easy access to `minimizer_kwargs` as well, if needed. For example, I wanted to test the performance of different algorithms when used as local minimizers for `basinhopping`. My minimized function needed a lot of iterations since its sensitivity to some of the variable parameters is low. I wanted to specify `maxfev`/`maxiter`/`ftol`

[2019-10-30 19:29] luriomer commented on #332
@newville Well, yes and no. In usual cases you are correct, those three control parameters are enough. But I can think of special cases when more control is needed. I return to the example I presented before: if you are trying to **globally** fit a very low-sloped function (i.e relatively low sensitivity to some or all of the parameters) then you might also need to control the `tolerance`/`ftol`/`

[2019-10-31 01:03] newville commented on #332
@luriomer Sorry, maybe I don't understand.  "Yes and no" to what?

Yep, the user may want to specify a fitting tolerance.  I think that's what we both said.   Is there a difference in tolerance for global and local optimizers?

[2019-10-31 02:36] newville commented on #544
@reneeotten @Tillsten  sort of as a meta-Issue for the release of 0.9.15 and 1.0.   I think we should be ready and able to release 0.9.15 and 1.0 before the end of the year.

I believe we should include #594, #595, #596, and #598 in 0.9.15 and 1.0 . It would be good to at least partially address the `max_iterations` part of #332.

I'll take ownership of (and fix) #594 and for #332 (hoping that @lu

[2019-10-31 08:55] luriomer commented on #332
@newville  "Yes and no" referred to whether `max_evaluations` is sufficient for controlling a global optimizer, by predefining  `C`\cdot`max_evaluations` to be passed to the local optimizer, where C is some constant. I'd think that the manner of sufficiency will be highly dependent on how your minimized function behaves, doesn't it?
Maybe we can let the user control `C`, and assign a default value

[2019-10-31 11:26] luriomer commented on #332
Anyway, it's important to emphasize that even without regarding this issue, we should have only one way of calling a fit. I don't see much point of having both `Minimizer.minimize(method=X)` and `Minimizer.X` with `X` being `least`,`brute`,`scalar_minimize` or whatever. For me, the _fitting_ section in the docs is quite confusing due to this redundancy.

[2019-10-31 11:31] newville commented on #332
@luriomer You mean to say that "c" should be different from 1 for a global optimizer?  Um, why?  If the user sets `max_evaluations` wouldn't that mean "don't do any more function evaluations"?

Yeah, if one is using one of the global optimizers, they're probably going to need a lot of function evaluations.

[2019-10-31 11:42] newville commented on #332
@lumiomer

Really?  Is it the redundancy itself that is confusing you?   Why do you think there should be only one way of calling a fit?  We deliberately have multiple approaches to fitting, including a Model class that takes up a large fraction of the code, doc, examples, and bandwidth.   We're not going to change that.

Lots of people will use the `Model` class.  Many people will be able to use

[2019-11-01 10:16] luriomer commented on #332
@newville

I am not referring to just `max_evaluations`, but also on how it is divided between the local and global minimizers. Earlier, you said that `c=2` is a good candidate:

You can have the exact same number of `max_evaluations` with different values for `c`, producing in general very different results. For `max_evaluations=5` you can have one global step with 5 local evaluations or vica-ver

[2019-11-01 12:08] newville commented on #332
I meant to send a value of `maxfev` or maxiter` to the corresponding
scipy.optimize method that is much higher than the actual value the user
wants so that those methods will NOT raise a "too many evaluations" error.
And then, handle the counting (we already do) and checking of how many
function evaluations there have been in `Minimizer.__resid()`, aborting the
fit if the user-supplied value is ex

[2019-11-02 10:06] luriomer commented on #332
@newville Okay, in this case I accept all of the above.

[2019-11-03 15:42] reneeotten commented on #544
@newville yes, that sounds like a good plan! I don't think there is anything regarding docs + gallery that needs changes right now. I am still planning to continue on the test-suite, but that shouldn't hold up anything as it might take more time to finalize.

I would prefer though to make a 0.9.x branch after we have merged a few of the PRs you listed. We can release the last PY27 version from tha

[2019-11-05 02:11] newville commented on #544
@reneeotten Good idea, I agree to make a 0.9 branch and then leave that to wither....

[2019-11-05 20:35] #597 closed

[2019-11-10 16:19] newville opened #601 "fitting with `emcee` works poorly"
Fitting with `emcee` works poorly.  Poorly enough that claiming to have an `emcee` "solver" that can be used to solve minimization problems is kind of a disservice to our users.  I do not know if there is something wrong with the code that is new to `emcee v3`, but I suspect this may have actually never worked that well.

As a minimal, complete, example showing the problem, let's look at
  https:/

[2019-11-10 18:30] reneeotten commented on #601
I think that MCMC-methods like ```emcee``` certainly have a place in ```lmfit```; being able to get posterior distributions for parameters and deal with data uncertainty seems useful to me. Sure, it might take some time to support it - but I think that's mainly because of the recent major version change/overhaul of the ```emcee``` codebase.

It's very well possible that the ```emce``` method is mu

[2019-11-10 20:04] newville commented on #601
@reneeotten OK, I basically agree with all of that, at least in principle.  My main concern is that it is actually not working well.   It seems like the main argument in favor of using `emcee` is that the error bars on your data might be systematically skewed.  But it's not entirely clear to me if it is capable of finding a good solution to any non-trivial problem.

I was just looking at the one n

[2019-11-13 09:51] TiagoBsCastro opened #602 "ampgo evaluating function out of its scope"
Hi guys,

   I have been using lmfit.minimize with ampgo algorithm in order to find the best fit for a function. As it failed several times returning me that the input had NaN values I wrote the following iter_cb:

def iter_cb_HMF(params, iter, resid):

    if resid == np.nan or resid == np.inf:
        v = params.valuesdict()
        print iter, [v['A0'],v['Az'],v['L0'],v['k0'],v['s0'],v['a0'],v[

[2019-11-13 13:29] reneeotten commented on #602
this likely should have been a question on the mailinglist instead of a GitHub Issue....

In both cases though the instructions clearly tell you to give a "minimal, verifiable, working example" to reproduce the issue, which you didn't do. ```lmfit``` tells you that you have "NaN values detected in your input data or the output of your objective/model function", but you don't actually show us your

[2019-11-13 14:52] TiagoBsCastro commented on #602
Well, I apologize for the misunderstanding, however, as it seems that the algorithm is passing crazy values to the function and not the other way around I don't see it as a simple question.

I understand that passing a minimal, verifiable, working example helps to debug. However, given the complexity of my code, it is not possible to provide that in the near future. I am sorry.

I would neverthele

[2019-11-13 15:50] newville commented on #602
@TiagoBsCastro  Well, if you read all the advice and warning about raising an github issue vs posting a question on the mailing list and decided that what you were seeing is an issue with the code, then you are sort of obligated to do the work to provide a minimal verifiable example that shows the problem.  You did not do this.

So, you *claim* there is a problem with the code.  But you do not *sh

[2019-11-13 17:47] TiagoBsCastro commented on #602
Dear @newville and @reneeotten it was really not my intention to seem snob. If my text seemed like this it was due to my lack of fluency in English.

In addition, if opening the issue and replying gave you the idea that I was unrespectful to you or to your work I again deeply apologize. Lmfit is one of my favorite packages and I had no intention but help.

I opened the issue because I understood t

[2019-11-13 17:47] #602 closed

[2019-11-14 17:27] Tillsten opened #603 "Git Hickup"
Sorry for that, I mistakenly did some master merge on origin. Can somebody fix that for me?

[2019-11-14 17:34] Tillsten commented on #603
Wrong Commit: b77e781d43eccad18ff5d4a55eeb868085cfbc96

[2019-11-14 17:38] reneeotten commented on #603
there is nothing to fix; once you've pushed to ```master``` it's done... But, in reality nothing has (or should have) changed since you just pushed change again that are already in ```master```.  But this is why you should always work on a branch and do stuff like ```git rebase master/upstream``` to avoid ugly-looking merge commits.

[2019-11-14 19:34] reneeotten commented on #603
so you did actually add one example file ```example_detect_outliers.py```, that looks fine except for a few style and ```flake8``` issues. Can you please address those in the PR that you opened?

[2019-11-14 19:44] newville commented on #603
@Tillsten @reneeotten No worries from me. We could always reset the HEAD if we need to, or go back and rewrite the history.   But I'm not sure we actually need to do anything here.

[2019-11-14 19:45] Tillsten commented on #603
I think a correction is still possible, see [Link](http://christoph.ruegg.name/blog/git-howto-revert-a-commit-already-pushed-to-a-remote-reposit.html). Basically just force push into the origin/master. But again, the evidence is against my git knowledge...

I am not really sure if the example is necessary. It is basically the prestep to add bootstrapping to lmfit, at least as an example.

[2019-11-14 19:48] reneeotten commented on #603
no re-writing on the ```master``` branch please! There is also no reason to do that as the only effect was the addition of an example. Just fix the style errors in the example file (or remove it again in the PR you have opened already). It would be really useful if you'd install the `pre-commit` hooks and/or follow [this](https://github.com/lmfit/lmfit-py/blob/master/.github/CONTRIBUTING.md), that

[2019-11-14 19:55] Tillsten commented on #603
Sadly I have bad experenices with pre-commit under windows, but I can try again.

[2019-11-16 03:30] #603 closed

[2019-11-18 10:52] BishopWolf opened #605 "lmfit fails on python 3.6"
Python 3.6 from Slicer3D package
while importing lmfit
[code]

[2019-11-18 11:18] BishopWolf commented on #605
The above is caused by literal python@2 strings not valid for python@3 representation in the uncertainties package, removing ur will fix this issue and expose the next
[code]
Again this is a python@2 code, changing `iteritems()` to `items()` solve the issue and everything works again

[2019-11-18 11:34] alexmarie78 opened #606 "[bug] Packaging for debian."
#### Description

The lmfit-py package fails to build from source in Ubuntu focal, because
Ubuntu has begun the transition to python3.8 and lmfit-py 0.9.14 is not
source-compatible with python3.8.

###### Error message:

[code]

###### Version information

lmfit: 0.9.11, scipy: 1.1.0, numpy: 1.16.2, asteval: 0.9.12, uncertainties: 3.0.2, six: 1.12.0

###### Link(s)

Here is the link of the discuss

[2019-11-18 12:38] reneeotten commented on #605
@BishopWolf if you look closely at the Traceback you'll see that both issues are actually in the ```uncertainties``` package. Also you don't tell us which version of ```lmfit``` and/or ```uncertainties``` you have installed); if you don't have the latest versions (0.9.14 for lmfit and 3.1.2) please try upgrading first. If that still doesn't work please report the problem to the ```uncertianties```

[2019-11-18 12:44] reneeotten commented on #606
@alexmarie78 indeed, you can see from the Trove classifiers that we dont' claim that that version is compatible with Python 3.8 yet. In fact it is, but the issue is with the ```asteval``` package; you will need to install ```asteval>=0.9.16``` and it will all work. By the time Debian will actually transition to Python 3.8 we will likely have released a new version where this is all sorted out.

[2019-11-18 12:48] #606 closed

[2019-11-18 12:48] #605 closed

[2019-11-18 14:40] BishopWolf commented on #605
Reported [here](https://github.com/lebigot/uncertainties/issues/106)

[2019-11-18 14:47] BishopWolf commented on #605
[This pr](https://github.com/lebigot/uncertainties/pull/107) will solve the issue

[2019-11-18 14:57] lebigot commented on #605
The problem is that `uncertainties` was somehow not properly installed. The `setup.py` instructs to use the `2to3` in order to transform the original Python 2 code into Python 3 code. This was obviously not done here (Unicode literals get their leading `u` stripped, `iteritems()` is replaced by `items()`, etc.).

So the real solution is to fix the install. Normally `python setup.py install` does t

[2019-11-19 20:01] newville opened #607 "adding Parameters with user-defined symbols fails"
See https://groups.google.com/d/msg/lmfit-py/1aPiWweLtfs/EGnIYSsIBAAJ    Basically,

        pars1 = Parameters()
        pars1.add("a", value=1.0, vary=True)

        def half(x):
            return 0.5*x

        pars2 = Parameters(usersyms={"half": half})
        pars2.add("b", value=3.0)
        pars2.add("c", expr="half(b)")

        params = pars1 + pars2
        print(params[c'])

fails.

[2019-11-20 02:23] newville commented on #607
complete with #608

[2019-11-20 02:23] #607 closed

[2019-11-21 03:13] newville commented on #544
@reneeotten @Tillsten OK, we are close to running out of time for 0.9.15 and 1.0 and dropping support for Python2.  This is by far my highest priority for `lmfit`.  I'm low on bandwidth and feeling over-extended on many fronts. Version 1.0 will be released before the end of the year.   After that, I make no promises about support or further development.  I would like to be able to do this but am n

[2019-11-21 06:54] luriomer commented on #544
@newville I'm sorry for the delay in #332, I have a lot going on lately. I'm still planning to do this, just not sure exactly when.

[2019-11-21 15:33] newville commented on #590
fixed with #600.

[2019-11-21 15:33] #590 closed

[2019-11-21 22:08] Tillsten commented on #544
@newville No worrys, I think the package is in quite good shape. There is only really one main feature which I think is still missing, which is the fitting mupltile models while sharing parameters. But we are still fine without that. We could think about publication to JOSS or something simliar for the 1.0 release if you are intrested.

[2019-11-22 10:10] luriomer commented on #544
I personally am very interested, just need to finish a current publication of my own and I'll join you :)

[2019-11-22 14:02] BishopWolf commented on #544
Dropping Python2 support means also that all your dependencies shall also be python3. I have faced a problem with [uncertainties](https://github.com/lmfit/lmfit-py/issues/605) package which is written in python2 and relies on 2to3 actions to be converted to python3. This is not automatically done in pure python3 systems where no 2to3 executable exists (this will be deprecated also). Please make su

[2019-11-22 17:06] newville commented on #544
@BishopWolf  Well, we support Python3 now.  We're just aiming to drop Python2 support.  We don't have any python2 dependencies.   We actually only have a couple places where `six` is used.  So it will not be hard to drop Python2 support.

I agree that `uncertainties` has an issue with Python3 support by relying on 2to3.   So far it has worked OK.  I imagine that when it stops working to use 2to3 t

[2019-12-05 19:37] newville commented on #544
@reneeotten, @Tillsten, all:  I think 0.9.15rc1 has no problems.  Any objections as just promoting that to be 0.9.15 "final" in the next few days?

[2019-12-05 20:41] reneeotten commented on #544
I don't think either that it has (major) issues, but also have no idea how many people actually test pre-release versions especially given that this one was just released 3 days ago. Having said that: yes, it's fine with me to release this as 0.9.15 final.

After that, we should branch-off a ```0.9``` or ```python2``` branch from ```master```. I will open a PR in the next few days with a starting

[2019-12-06 22:35] newville commented on #544
@reneeotten  Yeah, I guess that's a fair reading of the short `rc1` time.  I tested my downstream codes (and modified for the upcoming API changes) for 0.9.15, but I don't expect everyone to do that. I'll plan to release 0.9.15 this weekend, but it might be Monday.

FWIW, the `v0.9.15` branch is currently identical to master.  We could just leave that unmerged but undeleted and make `master` Pytho

[2019-12-06 22:53] reneeotten commented on #544
@newville true... However, I did clean-up branches that were merged already yesterday or so and already removed the ```v0.9.15``` branch. So either way, we'll have to make a new branch - I would prefer ```python2``` as a name, but am fine with ```0.9.15``` as well ;) I agree with continuing on ```master``` as PY3-only.

[2019-12-07 04:53] newville commented on #544
@reneeotten  OK, thanks.   Tagging current master as "python2" is fine with me.

[2019-12-09 16:01] PetMetz commented on #601
My formal mathematics and statistics are not really up to the task of articulating this well, but it seems that you may have a misapprehension of the case for employing the MCMC algorithm.

emcee and the MCMC algorithm itself are not solvers or optimizers, but rather a means of sampling a particular parameter space given a user-defined prior and target function. The benefit is not the ability of t

[2019-12-09 16:33] Immudzen commented on #601
MCMC algorithms are not optimizers and should not be used as optimizers. Best practices would be to run an optimizer first and then start off the MCMC algorithm around any high probability points you find.

If you just start off emcee to randomly sample over some search space and want it to find the high probability areas it could take a VERY long time since that is not what MCMC is built for. I h

[2019-12-09 17:46] toddrme2178 opened #613 "test failures on i586 but not x86_64"
#### Description
I am getting the following error with the unit tests only on the i586 platform with python 3.7.  The same test error does not occur on x86_64

###### A Minimal, Complete, and Verifiable example
Running the following test command:

[code]

###### Error message:

[code]

###### Version information
  * lmfit: 0.9.14 and 0.9.15
  * scipy: 1.3.2
  * numpy: 1.17.4
  * asteval: 0.9.16 an

[2019-12-09 18:17] reneeotten commented on #613
I don't see anything that has changed that would cause this... also our Travis CI tests all pass (but admittedly we run only on "AMD64"). Are you implying that you see this both for 0.9.14 as well as 0.9.15 and what operating system are you using?

Can you please just start Python and run the example (see below) directly; please post all output you see.

[code]

[2019-12-09 18:18] newville commented on #613
@toddrme2178  I think we don't do any testing on 32-bit systems.    I would not necessarily think that we should start doing that as we enter 2020, but maybe testing on 32-bit ARM would be sensible?
I don't have a strong preference....

[2019-12-09 18:53] toddrme2178 commented on #613
I am using Linux (openSUSE, specifically), and yes the problem occurs on both 0.9.14 and 0.9.15.  I don't know when the problem started, these are the only versions I have checked.

Here is the result:

[code]

[2019-12-09 21:44] newville commented on #613
@toddrme2178  Any ideas where the failure is coming from?  Since we don't test with any 32-bit systems, this sort of difference might be hard for us to detect and avoid.  It could be coming from some upstream library, but we don't really have enough information to know where the problem is coming from.  If you are committed to using 32-bit linux  maybe you could help us support it by doing some de

[2019-12-11 01:40] reneeotten commented on #613
@toddrme2178 @newville the strange thing is that here for the 32-bit system it stops with ```'lmdif_message': 'Number of calls to function has reached maxfev = 8000.'```, whereas in my local tests it only does 4 function evaluations. So perhaps it has something to do with the tolerances for convergence, but I don't know why that would be different on a 32-bit system...

But I have no idea how to t

[2019-12-11 03:30] newville commented on #613
@reneeotten Thanks - I don't know of an obvious way to automate testing on 32-bit with Travis either.
I have to admit complete ignorance of github actions.  Maybe they support 32-bit systems?

[2019-12-11 13:39] newville commented on #601
@PetMetz @Immudzen  Thanks -- I think that we all basically agree that MCMC is really not designed for optimization itself.   Here in `lmfit` the situation is that there has been an option to run a minimization using `emcee`.  I myself did not write this code to optimize using `emcee` but did approve it going into the codebase.  The developer who added the code was very good, adding many other imp

[2019-12-11 14:46] Gabriel-p commented on #601
@newville just to clarify, what do you mean by "does not work well". You mean that the `emcee` algorithm does not work (implying it either has some bug in the code, or that the maths that support it are wrong), or that MCMC in general does not "work well" for the intended purpose of this package?

[2019-12-11 14:57] PetMetz commented on #601
@newville Perhaps the solution here, if support for MCMC methods within `lmfit` is to continue into the future, is to delineate between optimizers and statistics tools in the `lmfit` codebase?

Without looking too closely at the `lmfit` source, the ideas that comes to mind:

1) If `emcee` wasn't explicitly a class method of `Minimizer` it might dissuade users from naively applying it as an optimiz

[2019-12-11 18:51] reneeotten commented on #601
dear all,

I do use ```emcee``` myself quite often to get posterior distributions for parameters after a fit (so not as "real" optimizer) and -as I have said before- think it's very useful for that purpose. To be clear, I personally have no intentions to drop support for ```emcee``` in ```lmfit```; in fact, I would be in favor of fully supporting all (new) features of version 3. It would just be h

[2019-12-12 00:36] newville commented on #601
@Gabriel-p  Well, most of all I mean that the `lmfit.Minimizer.emcee` fitting method within lmfit does not work well.    That is what this issue is about -- it's raised in `lmfit` and is about `lmfit`.   The `Minimizer.emcee` method had been using `emcee.PTSampler' which was dropped from the `emcee` package for its 3.0 release, so now `lmfit` uses `emcee.EnsembleSampler`.  As I said in the origina

[2019-12-21 22:07] #544 closed

[2020-01-13 15:17] jkrogager opened #615 "Typo in documentation: "Advanced usage of Expressions in lmfit""
Hi,

First of all, thanks for this awesome package! I really love using it.

I was trying to define my own function to use as a constraint for the fit parameters, so I looked at the documentation and found the following:
fitter = Minimizer()
fitter.asteval.symtable['lorentzian'] = mylorentzian

But this gives an error: AttributeError: 'Minimizer' object has no attribute 'asteval'.

After digging a

[2020-01-13 16:12] newville commented on #615
@jkrogager  Thanks for catching that!  Will fix.

[2020-01-15 22:37] cosama opened #616 "FWHM of exponentially modified gaussian is incorrect"
#### Description

In https://github.com/lmfit/lmfit-py/blob/master/lmfit/models.py#L883 it is assumed that the FWHM of the Exponentially Modified Gaussian is calculated by `sigma*sqrt(8*log(2))`. This is not correct.

#### A Minimal, Complete, and Verifiable example
This code calculates the FWHM numerically, it shows that the above assumption is only true for gamma=1.
[code]
#### Error message:
Ex

[2020-01-15 23:13] newville commented on #616
@cosama  If you have an analytic form, we'd be happy to use that.

A quick look at the wikipedia link says the variance changes from `sigma**2` to `sigma**2 + 1/gamma**2`.

Does it work better to then replace `sigma` by `sqrt(sigma**2 + 1/gamma**2)` so that

    FWHM =   np.sqrt(8*np.log(2) * (sigma**2 + 1/gamma**2))

That seems like it must be a factor of sqrt(2) to big.   Anyway, I'd encourage y

[2020-01-31 15:11] reneeotten commented on #615
fixed in commit 046ebc4

[2020-02-04 21:32] heltluke opened #617 "Fits to Models fail for x and y input data with certain datatypes, but not others"
#### Description
Fits using `set_param_hint()`, `make_params()`, and `fit()` appear to fail when the data (y-values) used as input have dtype `numpy.int32` and the x-values used as input have dtype `numpy.int32`. It doesn't appear to fail if both are `numpy.float32` or both `numpy.int32`.

###### A Minimal, Complete, and Verifiable example
[code]

###### Error message:
Not exactly an error, but st

[2020-02-05 02:05] newville commented on #617
@heltluke Yup.  If you had read the FAQ you would have known that the fits work with 64-bit floats:

      The fitting routines accept data arrays that are one-dimensional and double precision.

Please do read the FAQ, and the instructions for raising an issue.

[2020-02-05 02:05] #617 closed

[2020-02-05 02:05] #239 closed

[2020-02-05 08:07] lneuhaus commented on #617
I experienced this problem together with @heltluke. Thanks for the quick response, referring to this section if I found right one: https://lmfit.github.io/lmfit-py/faq.html#how-can-i-fit-multi-dimensional-data

I would like to suggest to re-open this ticket as a feature request for automatic type conversion of the input data to 64-bit floats, possibly accompanied by a warning, or (if that change w

[2020-02-05 13:21] newville commented on #617
@lneuhaus  It appears nobody reads the faqs or wants to use the mailing list we set up specifically for such discussions.

We do some data conversions, including multidimensional, complex numpy arrays and Pandas series,  but we do not check if the result of the model function is `float32`.   We deliberately do no type checking on the `x` data:  in `lmfit` the independent variables are not even ass

[2020-02-26 19:13] r-xue opened #618 "optimize with bounded parameters while fit_kws values specified in the external parameter space."
#### Description

If one sets `initial_simplex` for the minimizer `method='nelder'`, the value will be handed over to `scipy.optimize`, without any transformation, unlike a bounded parameter value. This poses a confusing condition for the underline algorithm when `min`/`max` are set in `Parameters`.

In this specific case, It might be good just ignoring the parameter bounds in `lmfit` (since it's

[2020-02-26 19:23] newville commented on #618
@r-xue re-read the instructions.

[2020-02-26 19:23] #618 closed

[2020-03-20 22:12] mpmdean opened #621 "bug in ModelResult.dumps"
If the fitting method is not leastsq and happens not to generate the col_Deriv attribute the result cannot be written to disk in the normal way. An example is shown below.

#### Description

ModelResult.dumps looks for the col_Deriv attribute, which might be missing if the fitting method is not 'leastsquares'. Running ModelResult.dumps results in an AttributeError.

###### A Minimal, Complete, and

[2020-03-22 16:59] #621 closed

[2020-03-27 03:13] jsalsman opened #624 "confidence interval example in docs is wrong"
Regarding the example and graphic at https://lmfit.github.io/lmfit-py/model.html#calculating-uncertainties-in-the-model-function

Shouldn't 95% of the observations be inside the shaded area?

Also, why use +/- 3 sigma for a 95% confidence interval?
https://stats.stackexchange.com/a/377634 says it should be +/- 2 sigma.

P.S. I tried to post this to the mailing list, but Google Groups would only te

[2020-03-27 04:23] newville commented on #624
@jsalsman Well, yes 2-sigma is the ~95% confidence interval.  Is there a place that we say that 3-sigma is 95% instead of ~97.5%?   I'm not seeing that, but perhaps I am not understanding your point.

As for why 97.5 (or 95% or even 68%) of the observations are not within the estimated confidence band,   I would say:  good point.  I'm not 100%sure why that is, but I would guess that it is related

[2020-03-27 23:13] jsalsman commented on #624
Thanks, Mark.

Sorry, it's not in the docs, but you did write, "for 95% confidence level, you'd want to use sigma=3 here" at https://stackoverflow.com/a/59905810

I think you're right about chi-square. I will get back to you on this. I did try to post to the mailing list several times, each with that same error message, but have not tried today.

[2020-03-28 13:35] newville commented on #624
@jsalsman Oh, OK.  I fixed the code comment in the stackoverflow post.

Actually, thinking about this more and the example in the docs:  I'm not sure that enclosing any fraction of the data points should actually be expected here.   That is, what is being shown is the uncertainty in the model function, not in the ability of that model to account for all the variation in the data.

Here, the model

[2020-03-29 03:40] jsalsman commented on #624
@newville Matt, that makes perfect sense. I am closing this but please have a look at my work at https://repl.it/@jsalsman/COVID19USgrowthExtrapolation which I'm discussing at https://www.reddit.com/r/CoronavirusUS/comments/fqx8fn/ive_been_working_on_this_extrapolation_for_the/ and https://repl.it/@jsalsman/COVID19USlognormals which I am working on and will be unstable while I try to fix the unsta

[2020-03-29 03:40] #624 closed

[2020-03-29 15:33] newville commented on #624
@jsalsman Ok, thanks -- To be clear, I'd be very grateful to a real statistician checking these confidence bands.

And thanks for doing and posting the work on COVID-19.   Very nice work and the extrapolations are both enlightening and terrifying -- I'll go wash my hands.

The correlations between your parameters for the log-normal distribution are very high (like > 0.98).  The uncertainties in th

[2020-04-01 23:12] newville opened #632 "version 1.0.1"
We should consider releasing a version 1.0.1 .   We're more than 4 months and a few dozen commits past 1.0.0.   I don't think we have any firm milestones or timelines in mind.  We could just tag current master as 1.0.1 and release it.

I think we could drop support and testing of Py3.5.  I don't think that would mean we *have* to convert to f-strings or drop OrderedDict for dict, but it does mean

[2020-04-02 01:52] reneeotten commented on #616
Closed by d086e6205646fa6a2b6fad2b72e0a3a9e6f1134d @cosama: if you do happen to have an analytical formula do let us know!

[2020-04-02 01:52] #616 closed

[2020-04-02 02:13] cosama commented on #616
I have not found an analytic formula, and could also not find a suitable empirical model. Removing them as per https://github.com/lmfit/lmfit-py/commit/d086e6205646fa6a2b6fad2b72e0a3a9e6f1134d is prudent.

[2020-04-02 07:36] jsalsman commented on #624
@newville Matt, I just had an aha/duh moment. Please have a look at https://www.graphpad.com/guides/prism/7/statistics/stat_confidence_interval_of_a_stand.htm in particular:
[code]

[2020-04-04 22:05] reneeotten commented on #632
@newville yes, we can definitely do a minor release (I'll open a PR in a minute with some additional clean-ups, but don't think that will be controversial).

Let's state in the (to-be-written) "what's new" notes that this will be the last release compatible with PY3.5 and then we can indeed stop testing for it afterwards, and start using some 3.6+ features. Related to that, when moving towards `f-

[2020-04-05 03:50] newville commented on #632
OK.

OK.

No preference.  I don't find inconsistent quote styles to be a problem.  Both single and double quotes are valid Python for a reason.  If I had to choose one, I would probably choose single quotes for no other reason than to be invalid to Black.

I don't understand.   #610 does work the same for all solvers.  `Minimize._residual()` will raise `AbortFitException` when the number of functi

[2020-04-05 16:21] reneeotten commented on #632
Let me take a look at that PR again then, perhaps I am not remembering correctly. I *think* that last time I checked, it didn't work for several methods (e.g., `brute`, `basinhopping`, ...) and there was something different when using the `Model` interface compared to a direct `Minimizer`. But sure, if that has all been resolved I'd be happy to get that merged.

I'll go through the code again in t

[2020-04-05 17:26] newville commented on #632
@reneeotten Nothing has changed with #610 in 4 months.

[2020-04-08 15:51] gyger commented on #382
Sorry for opening this again, because I needed it again. I extended the lineshape.step function with the following additional shapes.
- inverf or erfc
- invlogistic
- invatan or invarctan
- invlinear

Is this an accepted way?

[2020-04-10 15:27] newville commented on #382
@gyger well, I guess we can conclude that this is not really urgent ;)

I'm not necessarily opposed to adding more options or lineshapes, but I am sort of reluctant to have many variations on the same lineshapes.   Wouldn't it be true that these would give the same result:

     model1 = StepModel(form='erf', prefix='step_') + ConstantModel()
     model1 = StepModel(form='erfc', prefix='step_') +

[2020-04-12 15:42] gyger commented on #382
I fully agree it is a solution to use a negative amplitude plus offset or also Constant model - StepModel works.
But most of the time I combine the function with some other functions lets say an exponential rise to turn it of at some point, because the device fails and it just looks nice if every part of the model can somehow be attributed to parts of the line shape.

I agree it is also some kind

[2020-04-13 03:32] newville commented on #382
@gyger I think I don't understand the "But..." part there.  Does it not work to ConstantModel + StepModel whether the step goes up or down?

[2020-04-13 10:12] gyger commented on #382
Yes it works. Just when printing the models, to show what was fitted e.g. in the summary of the fit, it clutters the string a little bit more.
So really no functional argument there.

[2020-04-16 15:42] chabanr commented on #539
I apologize if this is the wrong place. This is my first time commenting on a project.

Hey @newville I think that by adding the call to pars.update_constraints() it created a case that creates an error if you are only using y-data.

from lmfit.models.GaussianModel.guess()

line 52 in lmfit.models.py -> guess_from_peak() will return (1.0, 0.0, 1.0) if no x-data is provided. This causes an error be

[2020-04-16 16:04] newville commented on #539
Well, you *could* read the docs about where to ask for help.  Certainly, commenting on closed issues is an odd way to start.  We do have a mailing list.

I do not what `Model.guess()` supposed to do with "only y data".  That doesn't make much sense to me, but I may not understand what you are trying to do.

[2020-04-17 01:29] rayosborn opened #634 "Spelling of Doniach lineshape and model"
#### Description
In `lineshapes.py` and `models.py`, the names defining the Doniach Sunjic asymmetric lineshape are misspelled as `donaich` and `DonaichModel`, respectively. I would suggest that the function and class be renamed with the correct spelling, with the old names being equated to them for backward compatibility. I am happy to submit a PR doing this, but I wanted to check first that ther

[2020-04-17 12:34] newville commented on #634
@rayosborn Thanks, that's sort of embarrassing. I saw him give a talk at an SSRL workshop many years ago.

[2020-04-17 13:31] rayosborn commented on #634
He was good friends with my supervisor, so I met him a couple of times, which is probably why I noticed. I'll submit a PR shortly.

[2020-04-17 13:42] rayosborn commented on #634
I see you've already made the changes. Thanks for saving me the effort.

[2020-04-21 14:49] newville commented on #632
@reneeotten hope you're doing well.  Have you had a chance to look at this yet?

My inclination is to merge #610, #633, and #635 and call this 1.0.1, and I'd like to get some of these fixes released.   Any objections to that?

[2020-04-22 01:17] reneeotten commented on #634
fixed in commit f3af0d4c052ca8ae4a4927581ba485c659f18d3c

[2020-04-22 01:17] #634 closed

[2020-04-22 02:14] reneeotten commented on #632
hi @newville, yeah everyone healthy here and we can work from home - so cannot complain. I hope you're also doing well - I guess the beamlines are still operational and require people to be present?

Still busy though, so haven't had too much time to look at it, but I did browse through the code and discussion in the PR again last week. I am still of the opinion that this feature is not worth brea

[2020-04-22 04:48] arunpersaud opened #636 "parameter.set doesn't set value as expected"
#### Description
Changing/updating the value for a fit parameter at the same time as min and max values, seems to enforce the old min/max values instead of the new ones for the value. The example hopefully makes this clearer ;)

###### A Minimal, Complete, and Verifiable example
import lmfit

p = lmfit.Parameters()
p.add('test', value=5, min=4, max=10)
print(p)
p['test'].set(value=22, min=20, max=

[2020-04-22 12:19] newville commented on #636
@arunpersaud yes, that should be fixed.   Are you up for making a Pull Request?

[2020-04-22 12:41] newville commented on #632
@reneeotten Oh, the machines are running but the labs are only letting people working on COVID-19 onto the site or with special permission.  We're all working from home and no outside users are coming in.  No clear idea when that will be back to normal.

Yes, #610 is not backward compatible.  But the current process of getting to the optional arguments of the `scipy.optimize` solvers are pretty ar

[2020-04-22 18:36] arunpersaud commented on #636
I'll give it a try, but I'm not sure if I understand lmfit internals enough at the moment... guess this might be a good opportunity to look into it a bit more. I'll let you know here in case I'm not able to fix it (will know in 1-2 days).

[2020-04-22 19:43] arunpersaud commented on #636
hope this works... seem to work locally over here, but I'm not sure if this is the way you want this fixed ;)

[2020-04-23 14:31] #636 closed

[2020-04-24 02:10] newville commented on #332
should now be fixed in master

[2020-04-24 02:10] #332 closed

[2020-04-24 02:11] newville commented on #632
merged code.  yep, it was kind of mess.

[2020-04-28 15:44] maxdevblock opened #639 "'lmfit.models' has no attribute 'DoniachModel'"
#### Description
Error defining DoniachModel

###### A Minimal, Complete, and Verifiable example
[code]

###### Error message:
[code]

###### Version information
Conda environment on macOs Catalina.
[code]

[2020-04-28 16:55] newville commented on #639
fixed with  f3af0d4c052ca8ae4a4927581ba485c659f18d3c !  It was spelled incorrectly as `DonaichModel()`

[2020-04-28 16:55] #639 closed

[2020-04-28 17:07] maxdevblock commented on #639
Ah sorry! My fault.
Copy and paste from documentation
https://lmfit.github.io/lmfit-py/builtin_models.html#doniachmodel
You may want to check spell there :-)

[2020-05-04 16:16] WernerFS opened #641 "No way to add title to model.plot()"
#### Description

The .plot() will automatically generate a figure on its own if none is provided. I am aware that I could create my figure, set the title and then pass it as an argument, but does not looks as clean as having the option to send the title directly to the set_title you left empty at the end of the definition.

[2020-05-04 17:54] newville commented on #641
@WernerFS

When raising an issue, one must be clear about what is not working as you expect.   You were not.
When raising an issue, one must provide a complete, and verifiable example that shows the problem.
You provided no code at all.

`model.plot`.  It is good for quick views of a fit.  It will not ever do everything that one could do to graphically represent a model or its fit.

So, you pretty

[2020-05-04 17:54] #641 closed

[2020-05-25 03:26] reneeotten commented on #632
version 1.0.1 was [tagged and released ](https://github.com/lmfit/lmfit-py/releases/tag/1.0.1), closing this issue.

[2020-05-25 03:26] #632 closed

[2020-06-02 13:15] YoshieraHuang opened #644 "hint is wrong for lognormal model"
#### Description
Lognormal model in lmfit use this formula for fitting:
[code]
I use this model to fit my data but i failed several times to use this model.

I found that \mu is limited to be positive but \mu should not be limited in math. I think some one is confused with another representation of lognormal function:
[code]
where a \ln is applied to \mu and \mu should be limited to be greater tha

[2020-06-02 13:30] newville commented on #644
@YoshieraHuang Thanks - I think you are correct that `center` should not be limited to positive values here.

I don't have a strong preference for `\ln(x) - \mu` vs `\ln(x) - \ln(\mu)` but I think going with the Wikipedia form is defensible as "consistent with other models" and that changing the hint instead of the functional form would be less disruptive to any existing scripts.

A PR to remove t

[2020-06-02 13:51] #644 closed

[2020-06-05 21:41] cosama opened #648 "Erroneous factor of 2 in covariance calculation from numdifftools?"
#### Description
I was looking into the the theory behind calculating covariance through the Fisher information (Hessian of a log-likelihood function evaluated at the minimum) and stumbled over the following line: https://github.com/lmfit/lmfit-py/blob/master/lmfit/minimizer.py#L772

It is not apparent to me why there would be a factor of 2 there. Furthermore, it might be good to mention that this

[2020-06-05 22:13] newville commented on #648
@cosama Hm, it's clear that you know something about data analysis and the mathematical theory of data modeling, and we would normally be happy to discuss this sort of topic.  Though clearly literate, you blew right through the instructions on how to create an issue.  You didn't post any code that might demonstrate that the factor of 2 is erroneous.  Can you give an example that demonstrates a pro

[2020-06-05 22:13] #648 closed

[2020-06-07 08:36] lebigot commented on #605
Version 3.1.4 of `uncertainties` has universal wheels: does this solve this issue?

[2020-06-07 08:36] lebigot commented on #605
For reference: version 3.1.4 of `uncertainties` has universal wheels, which would solve this issue, if a Python 2 version were needed.

[2020-06-07 13:44] newville commented on #605
@lebigot thanks for the update.  We dropped support for Python 2 in December. It may be reassuring to people stuck with Python 2 and lmfit 0.9.15 that they will be able to install with `pip` at least for a little while longer.  Then again, no one should expect dependencies to be maintained for Python 2.

I would encourage `uncertainties` to work toward supporting only Python 3.5+ (r even Python 3.

[2020-06-08 07:32] glaubitz commented on #613
Still fails with version 1.0.1 on 32-bit x86:

[2020-06-08 11:29] newville commented on #613
@glaubitz As you probably read, we do not test on 32-bit machines.   We have no plan to do that, but if you have a suggestion for a service that provides such a testing service, please let us know.

Basically, the `scipy.optimize` solvers require the objective function to return a `ndarray` with dtype of `float64`.  Our tests and examples assume that `numpy.linspace` and so forth will return that

[2020-06-08 11:34] glaubitz commented on #613
If you need access to a particular type of hardware, you can use the GCC compile farm:

Anyone who is involved in open source development can request an account there.

If you want continuous integration tests for x86, I suggest enabling ```x86``` on Travis CI.

[2020-06-08 11:51] glaubitz commented on #613
The suggested workaround didn't help, unfortunately. The problem still persists:

[code]

FWIW, the exact failure is seen on ppc64 and ppc64le as well, so it's not necessarily a problem with 32-bit architectures but more likely wrong assumptions about the underlying hardware which apply to x86_64 but not necessarily for other architectures:

[2020-06-08 12:09] newville commented on #613
@glaubitz I'd be happy to be proven wrong, but I believe Travis CI does not provide a 32-bit architecture for testing:  https://docs.travis-ci.com/user/multi-cpu-architectures#default-cpu-architecture

Of the 40+ machines listed there, I believe that one is 32-bit.

But perhaps I have not been clear enough: if someone wants `lmfit` to run reliably and be supported on 32-bit machines, they are goin

[2020-06-08 12:21] glaubitz commented on #613
But if the tests fail on 64-bit POWER, the assumption that this is related to 32-bit targets seems to be incorrect, doesn't it?

As for 32-bit tests, it shouldn't be too difficult to spin up a 32-bit Docker image with Debian. After all, all x86_64 hardware is fully able to run native 32-bit code.

[2020-06-08 14:40] newville commented on #613
Well, this issue is about tests failing for 32-bit machines.

In case it is not clear:  Lmfit is pure Python. The scipy.optimize solvers *require* float64 arrays.  We test with TravisCI and we don't test with 32-bit X86 or POWERPC or lots of other architecture/OS combinations.  I suspect that being pure Python, lmfit will actually work on most combinations, especially if they are careful about usi

[2020-06-08 18:43] reneeotten commented on #613
I've added all supported architectures on Travis CI (i.e., `amd64`, `arm64`, `ppc64le`, and `s390x`) to my repository and [run the test-suite on all of them](https://travis-ci.org/github/reneeotten/lmfit-py/builds/696142099). `Arm61` with environment `latest` does not finish building the `scipy` wheel (or produces enough output while trying to do so) within the allotted time and Travis considers t

[2020-06-08 21:38] newville commented on #613
@reneeotten Thanks for that!   Yes, expecting tests to match at 1.e-7 across different platforms seems very optimistic to me.  I would have said 1.e-4 is plenty fine, and could be persuaded that 1.e-3 or even 1.e-2 is OK.

And, yes, I agree with your questions about the other testing framework.   For sure,  I would look at the results of all numpy and scipy tests.

I think it is excessive to expec

[2020-06-08 21:46] glaubitz commented on #613
Tested and reproduced on a POWER8 machine running Debian unstable. Both tests fail there as well.

[code]

[2020-06-08 22:12] reneeotten commented on #613
as I showed we do not see this build failures when building on a few other architectures that Travis support, including `ppc64el` where you report the error. Additionally, you showed the `numpy` tests above for Debian, what about the `scipy` ones - quickly searching for it on buildd.debian.org seems to report failures and a lot of deselected tests there:
```= 2 failed, 19503 passed, 1333 skipped,

[2020-06-08 22:25] newville commented on #613
Can you confirm that you understand that lmfit is pure Python and that this means we don't have any compiled code directly in this library?  I don't mean to be rude, but the more you tell us about how we should be testing code for this project, the more it seems to me that you have no idea how this project is designed or works.  Do you even use this code?

This is exceedingly unlikely.  Using diff

[2020-06-09 20:37] ggggggggg opened #651 "Parameter bounded by PREVIOUS max"
### Description
Setting a parameter value, max and min can lead to the parameter being bounded by the PREVIOUS value of max.

###### A Minimal, Complete, and Verifiable example
[code]
prints
[code]

I expect `a` to have value `100`.

###### Error message:
None

###### Version information
Python: 3.8.2 (default, Feb 27 2020, 19:58:50)
[Clang 11.0.0 (clang-1100.0.33.17)]

lmfit: 1.0.0, scipy: 1.4.1,

[2020-06-09 20:46] reneeotten commented on #651
@ggggggggg this was fixed in commit 2b0f7b56d81da80a1b872517b3ef6e40f540c9d5 and is part of the 1.0.1 release. Please update to the latest version and all should be good!

[2020-06-09 20:48] ggggggggg commented on #651
Ok.

[2020-06-09 20:48] #651 closed

[2020-06-26 10:07] pinkfloydisch opened #652 "implementation of leastsq method for cost function"
Hi,

Recently I am using lmfit, and it is very useful and I am very satisfied with it. I have a problem to implement 'leastsq' method to minimize my cost function. I read a lot in the documentation, here and StackOverflow about it but I couldn't find a solution. my cost function hast two parts, one is the main cost function part an another is a regularization part(constant):
ret[3], ret[4], ret[5]

[2020-06-26 12:29] reneeotten commented on #652
we do not use GitHub Issues as a user-support platform, that's what the mailing-list is for (as clearly stated when you opened this issue). It's not at all clear what you think the problem is with lmfit and you do not supply any actual code, requested version information, etcetera. So please do that when you direct your question the mailinglist instead.

[2020-06-26 12:29] #652 closed

[2020-06-29 17:09] reneeotten commented on #615
@newville I am doing some work on the documentation and just noticed that this issue is actually not fixed... You did add an underscore as in `_asteval.symtable` but the Minimizer class does not contain that attribute, it's only present in the Parameters class.

So either we'll need to update this so that the symbols should be added to `Parameters._asteval.symtable` or you prefer to have it availa

[2020-06-30 01:44] newville commented on #615
@reneeotten Oh, right.... Yes, I guess that the original doc was "pre v0.9" and is just now totally wrong.  The change has to be made to the Parameters instance.

I think we should change the doc and not revive the old behavior. There is a test of adding and using a user-defined function in `test_algebraic_constraints.py`, though I guess one can always have more tests!

[2020-06-30 01:54] reneeotten commented on #615
I agree with that. I'll change the documentation and add that to the PR I'm working on now; you can take a look once I've submitted it and see what you think.

[2020-07-02 22:16] #615 closed

[2020-07-04 21:07] newville opened #655 "scalar minimizer not preserving all best-fit values"
### Description

Using scalar minimizers *and* `numdifftools` *and* parameters with bounds, the reported value for the last parameter in the list can be (slightly) from the actual best-fit value.

I believe this is due to `Miniminze._calculate_covariance_matrix` and specifically `numdifftools.Hessian` allowing the values to change and *not* fully restoring the values. I'm not sure why this affects

[2020-07-21 13:44] reneeotten commented on #655
fixed in 05bbc07321480d02dcd13c122ba16d42ec3d4eae

[2020-07-21 13:44] #655 closed

[2020-08-01 21:57] corinwagen opened #659 "can't copy CompositeModel"
#### Description

When trying to copy a ``CompositeModel``, I get a large error which I don't know how to interpret.

###### A Minimal, Complete, and Verifiable example

[code]

###### Error message:

[code]

###### Version information

Python: 3.7.4 (default, Aug 13 2019, 15:17:50)
[Clang 4.0.1 (tags/RELEASE_401/final)]

lmfit: 1.0.1, scipy: 1.4.1, numpy: 1.18.4, asteval: 0.9.18, uncertainties: 3

[2020-08-03 11:41] newville commented on #659
@corinwagen this is sort of known problem - there are enough non-trivial parts to the `Parameters` and `Model` classes that they cannot be serialized with `Pickle`, which `deepcopy` uses.  This is a known, long-standing wart of Pickle and Python - there are more complete "serializer" (see, for example, the `dill` package).

A Model can be serialized to a string with the `Model.dumps` method and th

[2020-08-03 11:41] #659 closed

[2020-08-03 12:32] corinwagen commented on #659
Sorry, didn't mean to waste your time. I did try Googling/other avenues before posting here.

Thanks for the suggestions.

Corin

[2020-08-03 13:14] picca opened #660 "remaining .sav files after tests"
Hello, I am preparing the 1.0.1 Debian package of lmfit-py

I endup with this error message using our quaslity insurance tools

E: python3-lmfit: unknown-file-in-python-module-directory usr/lib/python3/dist-packages/parameters.sav
E: python3-lmfit: unknown-file-in-python-module-directory usr/lib/python3/dist-packages/tmpvoigt_modelresult.sav

It means that during tests, thes two files were generat

[2020-08-03 13:37] picca opened #661 "source-contains-prebuilt-python-object"
Hello

the sources available from pypi containes a pre-build file

P: lmfit-py source: source-contains-prebuilt-python-object doc/__pycache__/extensions.cpython-37.pyc

It seems to me that this file should be removed from the source.

thanks for considering

Frederic

[2020-08-03 13:48] newville commented on #660
@picca:  Um, yeah, running tests (or heck, even importing python modules) might generate files on disk.  Why are you using a packaging tool that considers that to be a problem?  If it is a problem for you, don't run the tests or do a clean install.

[2020-08-03 13:52] newville commented on #661
@picca Yep, random `__pycache__` folders happen with Python3.   PR welcome.

[2020-08-03 13:57] picca commented on #660
Hello, I can explain why I am using Debian as OS, but it seems to me out of scope :)

so I want to run the test in order to verify that I have a working lmfit-py.

for the clean install,

I use python setup.py install

[2020-08-03 22:31] newville commented on #660
@picca Yeah, using Debian or any other OS or any other packaging system is fine with me.

But why should we change what we do because some packaging system doesn't like some files being generated in testing?  What if we *want* to test generating files? In fact, we do want to test that.  Generating a package certainly does not require running the tests, but it absolutely, definitely, 100% requires

[2020-08-03 22:31] #660 closed

[2020-08-21 04:42] odstrcilt opened #665 "leastsq is not working with low max_nfev"
I'm using the latest version of lmfit 1.0.1

When is _leastsq_ method interrupted due to exceeding _max_nfev_, and boundaries are used, the results are completely wrong.

 Problem is in the function _leastsq_ in minimizer.py script

[code]
needs to be replaced by
[code]
because _best needs to be parameters **before** the transformation.
The same issue have also    _scalar_minimize_ methods and may

[2020-08-21 04:53] odstrcilt opened #666 "using my own pool in emcee method"
I'm using lmfit 1.0.1.

When emcee method is called with _workers_ argument other than a number, and  with _reuse_sampler=False_,   it will be always overwritten by _auto_pool_

this part of code
[code]
needs to be replaced by

[code]

The second issue is that emcee is not working with multiprocessing from lmfit. This is probably an issue on the EMCEE side and I was able to repair it. But when I r

[2020-08-26 12:53] newville commented on #665
@odstrcilt I believe this is now fixed and will close

[2020-08-26 12:53] #665 closed

[2020-08-26 12:54] newville commented on #666
@odstrcilt fixed with #667, so closing

[2020-08-26 12:54] #666 closed

[2020-08-27 13:49] matthiasfabry opened #669 "Emcee does not use spawned multithreaded processes"
#### Description

When using `minimizer.emcee()`, and supplying a pool of workers, multiple processes are spawned, but do not do any work. In my case (macOS with 16 threads), the sixteen instances of python3.8 appear in Activity Monitor, 15 of which stay idle at 0.0% cpu usage. In practice then, using `processes=1` or `processes=os.cpu_count()` makes no difference in execution time.

###### A Mini

[2020-08-27 13:57] newville commented on #669
Is this related to #666?

For both @matthiasfabry and @odstrcilt:  you need to read #601 and understand the I, personally, find `emcee` to be a wart in lmfit.  If you want to use it, you want any further changes, you will have to provide them and support them.

[2020-08-27 14:45] matthiasfabry commented on #669
@newville It is not completely related to #666 since I use the `multiprocessing` builtin `Pool`, but the main point here is that the pool subprocesses sit idly while one (probably the main) thread executes the MCMC sampling on its own.

I would say however that it is unrelated to #600. I have a clear use case for posterior sampling, which I believe `emcee` offers correctly and easily. With this is

[2020-08-27 15:33] odstrcilt commented on #669
@matthiasfabry  it can be an issue on EMCEE side.
Try to change EMCEE source code, in file ensemble.py, function getstate, is necessary to replace
`d = self.__dict__`
by
`d = dict(self.__dict__) `

[2020-08-27 15:48] newville commented on #669
@matthiasfabry "I want it to be faster, so I'll use multiprocessing" while also confusing multiprocessing and multithreading is not at all a reassuring start.  Multithreading is almost certainly not worth pursuing.  Multiprocessing with lmfit (and possibly with `emcee`) is definitely complicated by the fact that `multiprocessing` relies on pickle.   You can probably make it work for a silly exampl

[2020-08-27 16:20] matthiasfabry commented on #669
@newville I agree multiprocessing is what were after. For `emcee`, I don't actually think dragons should appear when doing this... You can perfectly sample a posterior distribution with workers independently of each other, no matter what function you are minimizing or optimizing for. Again, I have no deep understanding of python or `pickle` and what that might entail, but at least from a naive mat

[2020-08-27 16:34] odstrcilt commented on #669
@matthiasfabry  yes, multiprocessing has a large overhead. All large arguments of your cost function should be passed at global variables to reduce overhead connected with creating the pickles. If the execution of your cost function is less than 100ms, the multiprocessing can be useless.

I'm using one more trick to reduce the overhead. Instead of executing each function in a pool worker, I split

[2020-08-27 18:42] newville commented on #669
@matthiasfabry

From a "naive mathematical standpoint" one can say almost anything should be possible.  We don't deal with naive mathematical standpoints.

Python multiprocessing creates new Python processes and send data from one process to another to do some work and then send data back.   If that sounds simple, then you're not thinking very deeply about how to share and send objects between pro

[2020-08-27 21:41] matthiasfabry commented on #669
@newville There is absolutely no need to lecture me. I am only reporting unwanted behavior here, and I never claimed that there is a practical solution for it. As a regular user of your software, I simply noticed the `workers` argument of `minimized.emcee()` doesn’t work as advertised in the documentation. It is up to you and the development team to decide whether to fix this. If not, fine, but th

[2020-08-27 23:14] newville commented on #669
@matthiasfabry @odstrcilt As mentioned earlier and discussed in #601, I lean more to deprecating `Minimizer.emcee` than
 I lean toward trying to make it work better.  It simply does not belong with the other methods of `Minimizer` that are actually solvers - `emcee()` is not a solver.

Again, if anyone is expecting `Minimizer.emcee()` to work well and be generally useful then there is real work to

[2020-08-28 08:16] matthiasfabry commented on #669
@newville That's fair. `emcee` is indeed not a solver, but I agree with @reneeotten in #601 that it has its place within `lmfit` (but indeed maybe not as part of the `Minimizer` class, that's an implementation issue the developers need to decide on). Doing MCMC posterior distribution sampling is a natural continuation of any high-dimensional minimization problem with a regular minimizer (say Nelde

[2020-08-28 17:39] odstrcilt commented on #669
@matthiasfabry
ty to replace line
`arg_list = np.array_split(arg, npool)`
by
`arg_list = np.array_split(list(arg), npool)`

[2020-09-08 23:35] jdrevon opened #671 "Minimize function error rising using initial parameters defined in an other python script"
#### Description

I work with the minimize function with the COBYLA method and I use a list of initial parameters located in another python script than the one where I use the minimize function and which regroup all the constant parameters. The simple waiy of using a list which is not directly in the python script rise an error which does not appear when I write explictly in the python script the

[2020-09-09 00:18] newville commented on #671
@jdrevon That is not enough to go on.  Go back and read the instructions: start by asking how to do something.  Include a complete,minimal example and full output and traceback.  Do not ignore clear instructions.

[2020-09-09 00:18] #671 closed

[2020-09-09 10:07] jdrevon commented on #671
@newville The problem and there is no traceback available here I don't know why.

I've edit the post with an example to reproduce the error

[2020-09-09 21:34] jdrevon commented on #671
@newville Should I repost a new thread or when the topic is checked it will be reopen?

[2020-09-10 03:47] newville commented on #671
@jdrevon you should read the very clear instructions on how to get help for lmfit, including the instructions for how and when to raise an issue here on github.  You should not ignore these instructions again. This issue will remain closed because it does not actually raise an issue about the code, it asks a question about how to use it.

[2020-09-10 08:46] jdrevon commented on #671
@newville Ok sorry, I didn't want to waste your time on github. I've rode the instructions but was persuaded that it was an issue with the code. I will ask then, the question, to the mailing list. Thank you.

[2020-10-09 07:53] angelo-peronio commented on #359
My personal pet peeves: most of the times I use the `Model` interface, but I need the `Minimizer` interface to [fit multiple datasets](https://lmfit.github.io/lmfit-py/examples/example_fit_multi_datasets.html) with shared parameters. I am never able to remember that

[code]

but

[code]

[2020-10-17 04:11] newville commented on #613
closing this, won't try to fix test failures on unused, specialty machines or OSes.

[2020-10-17 04:11] #613 closed

[2020-10-21 02:35] mwhudson opened #674 "test_check_ast_errors fails with Python 3.9"
#### Description

A single test fails with Python 3.9. It might be a problem with asteval I guess but I'm not sure (I'm just working on getting Python 3.9 supported in Debian, I've never seen these projects before :wink:)

###### A Minimal, Complete, and Verifiable example

[code]

###### Error message:

[code]

###### Version information

[code]

###### Link(s)

[2020-10-21 02:55] mwhudson commented on #674
Oh I should have actually looked at the failure more closely. It's pretty trivial!

[2020-10-23 12:59] #674 closed

[2020-10-26 18:41] leonfoks opened #677 "ModelResult.dumps() broken for lbfgsb method"
#### Description
When I use the limited BFGS (lbfgsb) method to fit, I cannot use dumps().
It works fine when I do not specify a method, or if i specify the "bfgs" method, but the 'lbfgsb' method fails.

###### A Minimal, Complete, and Verifiable example
[code]

###### Error message:

[code]

###### Version information
[code]

[2020-10-27 01:41] newville commented on #677
@leonfoks Hm, yeah I can reproduce that - sorry for the trouble.

Ugh -- not your fault at all, but why (the heck) would a scipy.optimize method return a "bytes" object as a message from a fitting method?  That seems either a misunderstanding of what bytes and strings are for.  I will complain over at scipy.  I don't expect they'll pay attention.

In the meantime, I guess we need a workaround so t

[2020-10-27 02:45] leonfoks commented on #677
No worries!  Thanks for pointing me in the right direction.  I was not sure where to start looking.

I have a fix, will submit a PR soon.

[2020-10-29 04:08] #677 closed

[2020-10-29 14:12] mdimura opened #679 "Unconverged fits do not return the best sampled fit"
If the sampling is aborted because `max_nfev` was reached, the returned MinimizerResult.params contains the latest samled parameters instead of the best available fit.
Here is the [gist](https://gist.github.com/mdimura/871858b83399d66a73e236ddb4cf1e2c) with the sample code.
[code]
My result:
[code]
I would expect them to match.

[2020-10-29 14:40] newville commented on #679
@mdimura  Hm, this could be a duplicate of #665.   Then again, if the fit aborts early because it reaches the maximum number of evaluations that you set, I don't see why you have any valid expectations of what the result should be.  But far more importantly, go back and read the instructions about when and how to raise an issue.  Do not ignore those instructions again.

[2020-10-29 14:50] mdimura commented on #679
According to the [docs](https://lmfit.github.io/lmfit-py/fitting.html#lmfit.minimizer.MinimizerResult.params), should contain, I quote:

Which made me think, this is actually a bug. It would also be much more practical to report the best fit since for many real-life applications these global minimizers will not fully converge in any reasonable time but still find the best or very good solution rel

[2020-10-29 20:07] newville commented on #679
@mdimura

It's entirely possible that this problem was fixed already in #665, as I mentioned earlier.  You did not give version information as instructed (with a warning of "DO NOT IGNORE") when creating an issue, so I don't know whether this applies or not.  It is demotivating to continue saying this, but: follow the instructions.   You didn't violate contributor guidelines, this is a basic "did

[2020-10-29 22:11] mdimura commented on #679
My bad, the lmfit version is 1.0.1, which is from May 7, and the fix is from Aug 24, so yes, it's probably the old version, sorry I bothered.

[2020-10-29 22:11] #679 closed

[2020-10-30 16:12] lneuhaus opened #680 "SineModel fit does not work in certain cases"
#### Description
Certain perfect sines are imperfectly fitted by the SineModel. This is a result of constraining the phase shift of the model to the range of 0 to 2pi. If this constraint is lifted, the fit works properly.

The ideal solution to this problem would be a post-fit-hook, that allows to run the optimization without constraint on the range of the phase shift, but nevertheless returns a p

[2020-11-20 04:46] newville commented on #669
@matthiasfabry is this resolved?  I cannot tell...

[2020-11-20 04:49] newville commented on #680
@lneuhaus I'm afraid I never understood the actual issue here.  Can you clarify?

[2020-11-20 06:31] lneuhaus commented on #680
Sure, sorry if it wasn't clear.

Above example code generates data points that lie on a perfect (=no noise) sine (`np.sin(alpha + 0.3 * x)`) and sweeps the phase shift `alpha` from -1 to +1 radian. It then uses the SineModel somewhat naively to fit a sine to this data. Certain phase shifts slightly below `2*pi` don't give a good fit. I thought I had such cases handled by unit tests but it seems I

[2020-11-20 08:12] matthiasfabry commented on #669
Not exactly, but it seems this issue is not directly related to `lmfit`. I will close this, thanks for your input

[2020-11-20 08:12] #669 closed

[2020-11-20 13:30] newville commented on #680
On Fri, Nov 20, 2020 at 12:32 AM lneuhaus <notifications@github.com> wrote:

Sorry for being dense here, but I am actually not seeing this.  Normally an
Issue should show minimal code that shows the problem and give complete
output.  And, well explain what the problem is.  Where is the "I expected A
and got B" here?    Maybe I'm just not parsing your script and output.

If the issue is that an ini

[2020-11-20 23:54] lneuhaus commented on #680
Ok, I will work out a PR for 1 and propose to add a new method `best_values_postprocessed` to access post-processed fit results. That wouldn't require much work to implement and allow to test the usefulness of the concept.

[2020-11-21 03:39] newville commented on #680
@lneuhaus sorry for continuing to be dense.... a PR to do what?

[2020-11-21 08:26] lneuhaus commented on #680
I was referring to:

[2020-11-21 14:12] newville commented on #680
@lneuhaus We have gone back and forth a few times here and I still do not understand the exact problem you are having or the proposed fix.   It seems like this really ought to be not that complicated.  Please describe and give a simple, minimal example that clearly shows the problem you are having.   Like, honestly you posted a bunch of code above and everything says "ok".  So: what the heck is th

[2020-11-21 14:15] lneuhaus commented on #680
I will start my PR with a unit test. You will understand from the test failure.

[2020-11-21 20:57] newville commented on #680
@lneuhaus Since you are unable to provide a case that shows the problem, I tried to do so.  I failed to find a problem. All cases work fine for me.

[code]

which gives

[code]

All fits give good results. If you see a problem, then explain what that is.

[2020-11-22 01:11] lneuhaus commented on #680
Very easy: replace `3.1` by `6.2` in your code and you get cases where things go off:
[code]

[2020-11-22 01:12] lneuhaus commented on #680
Though to be fair, I think this example is too minimalistic: it does not use the SineModel's guess function.

[2020-11-22 05:17] newville commented on #680
@lneuhaus I don't think we can really consider a fit failing because of poor initial guesses to be an error.  One can almost always make a fit fail, if that is the goal.   So basically, the issue title "does not work in certain cases"  strikes me as sort of normal.

I cannot tell if you are saying that the issue is that `SineModel.guess()` is not always good enough?  I definitely did not pick that

[2020-11-22 06:35] lneuhaus commented on #680
Yes, exactly my point.

While this is certainly true for many complicated or noisy cases, I would expect from a fitting library to properly fit noiseless sines without issues out of the box, including appropriate guessing. I claim that the current implementation in lmfit does not guarantee this, but that there is a way to guarantee this (by not constraining the phase shift variable).

[2020-11-22 09:48] lneuhaus commented on #680
See #682

[2020-11-22 18:09] newville commented on #680
@lneuhaus

I think your expectation needs recalibration.  We simply cannot guarantee that fits will succeed independently from the initial parameter values.  Really, I do mean "can not".

You are right that the current implementation does not guarantee this.

It may be that automated guesses could be better.  Automated guesses will not ever be guaranteed to work.

For the specific case of the phas

[2020-11-22 18:20] Tillsten commented on #680
Completely agreeing with @newville. Still there is an easy enchanment to the guess function. Since it already assumes uniform spacing and uses an FFT to estimate the frequency, it should also use the resulting phase instead of the used iterative approach.

[2020-11-22 18:20] #680 closed

[2020-11-28 04:00] sundar3492 opened #683 "During Triple Gaussian fitting, huge devise from initial guess value and high chi-square value"
I am tried Triple Gaussian fitting, there huge diverse from initial guess value and high chi-square value

How to resolve this problem.

**##  Warning: uncertainties could not be estimated:**

and it has huge diverse from initial guess values and also very high chis-square value. I attached the output value below.

`[[Model]]
        ((Model(gaussian1) + Model(gaussian2)) + Model(gaussian3))
    [

[2020-11-28 05:17] newville commented on #683
@sundar3492  have a hard time understanding how you could raise this issue and not only completely ignore but also erase the instructions for how to ask for help.  At this point, I think your only hope is thoroughly reading all of the guides and documentation about asking for help and as a complete, well-formed question on the lmfit mailing list or sme other forum and hope that someone will be kin

[2020-11-28 05:17] #683 closed

[2020-12-01 02:35] nitrocalcite opened #684 "Plotting of ConstantModel Fails"
#### Description
If I try and fit some data to a `ConstantModel` and then `plot` the results, I get a `TypeError`

###### A Minimal, Complete, and Verifiable example
[code]
If you change out `ConstantModel` for a `GaussianModel`, for example, this works fine.

###### Error message:
[code]

###### Version information
Python: 3.7.7 (default, Mar 23 2020, 23:19:08) [MSC v.1916 64 bit (AMD64)]
lmfit:

[2020-12-01 03:24] newville commented on #684
@nitrocalcite

Yep.

That is not completely correct.  All of the built-in models have this feature and are limited to 1 independent variable that is assumed to be 1-D and the first argument in the call signature.   But that is not assumed to always be true for user-defined models.

-1 from me.   I think you should re-read the discussion you linked to at https://groups.google.com/g/lmfit-py/c/QQYha

[2020-12-01 04:18] nitrocalcite commented on #684
@newville
OK, I see what you're talking about in the linked discussion better now.  I thought your concerns there were specifically about forcing _all_ models into numpy arrays by type coercion in the `Model.eval` method, not about one particular model doing so:

    `return np.asarray(func(**self.make_funcargs(params, kwargs))`

Correct me if I'm wrong here, but it seems to me that you want to pr

[2020-12-01 05:36] newville commented on #684
@nitrocalcite

Well, it acts differently because it is different. It models a constant.  I am pretty sure we never say that other models will behave consistently.  We could have multi-dimensional models or models that transform the data in some complex way (say Fourier transforming) for example and return values from that calculation.  We definitely want users to be able to do such things.  And if

[2020-12-01 06:22] nitrocalcite commented on #684
@newville

I completely agree that you don't want to restrict the user in principle.  However, 1) my proposal doesn't affect the Model base class and 2) while this may be a documentation gap, I don't see anything in the models [guide](https://lmfit.github.io/lmfit-py/model.html), built-in models [list](https://lmfit.github.io/lmfit-py/builtin_models.html), or [examples](https://lmfit.github.io/lmf

[2020-12-01 13:43] Tillsten commented on #684
Maybe broadcasting the result against the data would work for both cases?

btw the plotting features are very useful, even in the current state, please do not remove them. They save a lot of typing and I often miss them when not working with Model.

[2020-12-01 16:15] newville commented on #684
On Tue, Dec 1, 2020 at 12:22 AM Jonathan Okasinski <notifications@github.com>
wrote:

Huh, what arbitrary data pre-processing?.   The Model class wraps a model
function that takes some inputs (some of which will become variable
parameters in the fit) and returns an output.   That function might do
complex calculations with the inputs.

I am pretty sure we never say that other models will behave co

[2020-12-01 16:45] nitrocalcite commented on #684
My deeper question is:

I guess you've answered it:

To wrap things up:

No.  However, as I have been saying, the documentation strongly implies that the return type will be related to that of the independent variable.  This implication stems from the fact that it exclusively (to my knowledge) provides use-cases and examples in which they are the same.  That's why I think that it should be noted i

[2020-12-02 14:49] newville commented on #684
On Tue, Dec 1, 2020 at 10:46 AM Jonathan Okasinski <notifications@github.com>
wrote:

We have some built-in models, and we document those.  I really don't think
we imply anything.   But, if you want to improve the documentation so that
people do not incorrectly infer features that do not exist, that would be
fine.

Shrug. The problem in this issue is with plotting - or with coercing data

Ok.  So

[2020-12-03 17:19] nitrocalcite commented on #684
Alright, I think I can see where you're going with this.  I think the best examples would be of models using categorial data, like dictionaries, or something else very not-array, to emphasize that Models are completely generic.

In my opinion, rather than trying to emphasize this in the documentation, it might be more natural to explicit denote the return types in the Models.  This would again emp

[2020-12-05 05:20] newville commented on #684
@nitrocalcite

Okay, just to be clear, this is still a discussion about an Issue that you raised about plotting of a ConstantModel.   Like, I'm impressed with your general enthusiasm, but I may be more inclined to call this Issue more or less or done.

Well, maybe you have a natural example of such a model that would be generic enough to include in the `models` namespace - I don't have anything in

[2020-12-07 12:05] #661 closed

[2020-12-09 10:06] picca opened #686 "Error on ppc64el pybuild --test --test-pytest -i python{version} -p 3.9 returned exit code 13"
Hello, I just got this bug repport, I do not know if this platform is supported, but nevertheless, I report it here.

have a good day.

Frederic

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=976952

[code]

[2020-12-09 14:03] newville commented on #686
@picca  Hm, sorry for the trouble.  I can believe that nan-propagation would depend on the processor architecture, but it's hard to know what the real problem is without some digging.  I do not have access to a PowerPC machine to test and investigate with, but maybe someone else has some idea of how this might be investigated.

FWIW, I believe that some of the warnings have been fixed (say, with b

[2020-12-10 17:36] newville commented on #686
@picca See https://github.com/newville/asteval/pull/80.  Won't fix without persuasion that supporting PowerPC is something worth doing.    Just to be clear, this has nothing to do with the technical case here or the perceived quality of testing for lmfit or anything to do with debian.

[2020-12-10 17:36] #686 closed

[2020-12-18 08:29] tillea opened #692 "Test failure on ppc64el"
#### Description
The Debian auto-builders on ppc64el architecture were running into an error with Python3.9.  This is reported in a [bug report](https://bugs.debian.org/976952).

###### Error message:

    =================================== FAILURES ===================================
    _________________ TestUserDefiniedModel.test_model_nan_policy __________________

    self = <test_model.Test

[2020-12-18 13:34] newville commented on #692
This is a duplicate of #686.  Personally, I could not care less about supporting PPC and have no intention of doing any work toward that.  It's okay with me if someone else works on that, and It's okay with me if no one does.
I guess I'm willing to leave this open to avoid another duplicate issue.

[2021-01-07 08:59] picca commented on #692
Hello, the bad news is that I have also this error on the i386 platform.

[code]

[2021-01-07 09:08] picca commented on #692
Here a summarize of our tests

https://ci.debian.net/packages/l/lmfit-py/

Just tell which architecture are not supported by you and I will deactivated them from our continuous integration.

Cheers

Frederic

[2021-01-07 13:41] newville commented on #692
@picca  Lmfit is pure Python.  It neither "supports" nor "does not support" different families of processors.   So, to your demand of

The only answer we can give is "No".

Nan handling is complicated and fragile - we try our best to test for these cases.  I have not looked in detail at all of the test reports, but I will bet that the vast majority (> 98%) of tests do pass and that the failures co

[2021-01-07 13:43] picca commented on #692
Thanks for this clear answser. I will do my best to avoid poluting your github  with these non supported arch.

cheers

Fred

[2021-01-07 14:03] newville commented on #692
@picca  Perhaps I was not clear. We do not have any "non supported arch".

[2021-01-29 23:35] newville opened #698 "migrate CI to Azure or Github Actions"
#### Description

(conversation started in #696)  With Travis-CI changing terms of service, we should test moving the CI system to Azure Pipelines or Github Actions..  I've played with Azure a little bit and am still sort of trying to figure it out.  I have not tried Actions - my initial reading of it was that it wasn't designed for CI, but I could certainly be wrong about that!

I think we do wan

[2021-01-30 00:15] reneeotten commented on #698
I agree that we want to do the same things as we run now with Travis, so that list looks good. I am not sure which service would work better, but GitHub Actions appears to be able to do what we want from my reading [here](https://docs.github.com/en/actions/guides/building-and-testing-python).

[2021-02-01 17:01] xxyxxyxyx1 opened #700 "VoigtModel params do not vary when symmetric min and max constraints are used"
If a constraint window that is symmetric about `center` is provided for `sigma` or `gamma` of the builtin VoigtModel, that parameter will not be varied in the fit, even if `vary=True` is included explicitly.

Here is an example:

[code]

This code, with the `min` and `max` kwargs commented out as above, finds the following good fit:
[code]

The same fit is found if _either_ `min` or `max` is provi

[2021-02-01 17:12] newville commented on #700
@xxyxxyxyx1 I must say that it continues to surprise me when people who are clearly literate and intelligent enough to write python code, understand enough mathematics and to pursue the task of modeling and fitting data, and who can navigate github issues are unable to read and follow clear instructions.

It just is not credible to think that you somehow missed all of the advice on how to ask for

[2021-02-01 17:12] #700 closed

[2021-02-01 17:16] xxyxxyxyx1 commented on #700
"do NOT use GitHub Issues for questions, it is only for bugs!... However, if you discovered a bug, please do proceed"

My issue is a bug, not a question.